Repository sapientpants/doctrans: changes, and which pre-commit hooks are due for each by the changed paths.
All: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

hex-audit:
  name: Hex security audit
  entry: mix hex.audit
  language: system
  pass_filenames: false

mix-compile:
  name: Mix compile with warnings as errors
  entry: mix compile --warning-as-errors --all-warnings
  language: system
  pass_filenames: false

deps-audit:
  name: Dependency vulnerability audit
  entry: mix deps.audit
  language: system
  pass_filenames: false

check-module-size:
  name: Check module size limits
  entry: elixir scripts/check_module_size.exs --max-lines 500
  language: system
  pass_filenames: false

credo:
  name: Credo strict mode
  entry: mix credo --strict
  language: system
  pass_filenames: false

sobelow:
  name: Sobelow security analysis
  entry: mix sobelow --config
  language: system
  pass_filenames: false

mix-test-coverage:
  name: Mix test with 80% coverage
  entry: bash -c 'MIX_ENV=test mix coveralls'
  language: system
  pass_filenames: false

mix-deps-unlock:
  name: Unlock unused dependencies
  entry: mix deps.unlock --unused
  language: system
  pass_filenames: false

refactor(documents): split progress, summaries, and PubSub topics
  PLAN.md
  lib/doctrans/documents.ex
  lib/doctrans/documents/book.ex
  lib/doctrans/documents/progress.ex
  lib/doctrans/documents/summary.ex
  lib/doctrans/documents/topics.ex
  lib/doctrans/processing/document_orchestrator.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/pdf_processor.ex
  lib/doctrans_web/live/document_live/components.ex
  lib/doctrans_web/live/document_live/index.ex
  lib/doctrans_web/live/document_live/reprocess_modal.ex
  lib/doctrans_web/live/document_live/show.ex
  test/doctrans/documents/progress_test.exs
  test/doctrans/documents/summary_test.exs
  test/doctrans/documents/topics_test.exs
  test/doctrans/documents_test.exs
  test/doctrans_web/live/document_live_index_test.exs
  test/doctrans_web/live/document_live_show_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

refactor(documents): split progress, summaries, and PubSub topics (#53)
  PLAN.md
  lib/doctrans/documents.ex
  lib/doctrans/documents/book.ex
  lib/doctrans/documents/progress.ex
  lib/doctrans/documents/summary.ex
  lib/doctrans/documents/topics.ex
  lib/doctrans/processing/document_orchestrator.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/pdf_processor.ex
  lib/doctrans_web/live/document_live/components.ex
  lib/doctrans_web/live/document_live/index.ex
  lib/doctrans_web/live/document_live/reprocess_modal.ex
  lib/doctrans_web/live/document_live/show.ex
  test/doctrans/documents/progress_test.exs
  test/doctrans/documents/summary_test.exs
  test/doctrans/documents/topics_test.exs
  test/doctrans/documents_test.exs
  test/doctrans_web/live/document_live_index_test.exs
  test/doctrans_web/live/document_live_show_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(worker): narrow rescues and surface cancellation failures
  PLAN.md
  lib/doctrans/processing/worker.ex
  lib/doctrans_web/live/document_live/index.ex
  test/doctrans/processing/worker_errors_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(worker): narrow rescues and surface cancellation failures (#54)
  PLAN.md
  lib/doctrans/processing/worker.ex
  lib/doctrans_web/live/document_live/index.ex
  test/doctrans/processing/worker_errors_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(worker): centralize job keys and index cancellation
  PLAN.md
  lib/doctrans/jobs/document_extraction_job.ex
  lib/doctrans/jobs/llm_processing_job.ex
  lib/doctrans/processing/worker.ex
  priv/repo/migrations/20260908000000_index_oban_job_document_and_page_args.exs
  test/doctrans/processing/worker_cancellation_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(worker): centralize job keys and index cancellation (#55)
  PLAN.md
  lib/doctrans/jobs/document_extraction_job.ex
  lib/doctrans/jobs/llm_processing_job.ex
  lib/doctrans/processing/worker.ex
  priv/repo/migrations/20260908000000_index_oban_job_document_and_page_args.exs
  test/doctrans/processing/worker_cancellation_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(documents): handle missing documents and repeated deletion
  PLAN.md
  lib/doctrans/documents.ex
  lib/doctrans_web/live/document_live/index.ex
  lib/doctrans_web/live/document_live/show.ex
  lib/doctrans_web/live/document_live/show.html.heex
  priv/gettext/default.pot
  test/doctrans/documents_test.exs
  test/doctrans_web/live/document_live_index_test.exs
  test/doctrans_web/live/document_live_show_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(documents): tolerate concurrent document deletion
  lib/doctrans/documents.ex
  test/doctrans/documents_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(documents): handle missing documents and repeated deletion (#57)
  PLAN.md
  lib/doctrans/documents.ex
  lib/doctrans_web/live/document_live/index.ex
  lib/doctrans_web/live/document_live/show.ex
  lib/doctrans_web/live/document_live/show.html.heex
  priv/gettext/default.pot
  test/doctrans/documents_test.exs
  test/doctrans_web/live/document_live_index_test.exs
  test/doctrans_web/live/document_live_show_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

chore(quality): enforce Dialyzer checks for P2.15
  .dialyzer_ignore.exs
  .github/workflows/ci.yml
  PLAN.md
  docs/CONTRIBUTING.md
  lib/doctrans/processing/openai.ex
  lib/doctrans/processing/worker.ex
  lib/doctrans/search.ex
  lib/doctrans/validation.ex
  mix.exs
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage

chore(quality): enforce Dialyzer checks for P2.15 (#58)
  .dialyzer_ignore.exs
  .github/workflows/ci.yml
  PLAN.md
  docs/CONTRIBUTING.md
  lib/doctrans/processing/openai.ex
  lib/doctrans/processing/worker.ex
  lib/doctrans/search.ex
  lib/doctrans/validation.ex
  mix.exs
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage

refactor(uploads): define concrete result types for P2.16
  PLAN.md
  lib/doctrans_web/live/document_live/index.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

refactor(uploads): define concrete result types for P2.16 (#59)
  PLAN.md
  lib/doctrans_web/live/document_live/index.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(uploads): audit file traversal and sanitize filenames
  .sobelow-conf
  PLAN.md
  docs/FILE_PATH_AUDIT.md
  lib/doctrans/documents.ex
  lib/doctrans/documents/sweeper.ex
  lib/doctrans/env_loader.ex
  lib/doctrans/processing/document_converter.ex
  lib/doctrans/processing/document_processor.ex
  lib/doctrans/processing/openai.ex
  lib/doctrans/processing/pdf_extractor.ex
  lib/doctrans/processing/pdf_processor.ex
  lib/doctrans/resilience/health_check.ex
  lib/doctrans/validation.ex
  lib/doctrans_web/live/document_live/index.ex
  test/doctrans_web/live/document_live/upload_path_test.exs
  test/support/upload_path_extractor_stub.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(uploads): audit file traversal and sanitize filenames (#60)
  .sobelow-conf
  PLAN.md
  docs/FILE_PATH_AUDIT.md
  lib/doctrans/documents.ex
  lib/doctrans/documents/sweeper.ex
  lib/doctrans/env_loader.ex
  lib/doctrans/processing/document_converter.ex
  lib/doctrans/processing/document_processor.ex
  lib/doctrans/processing/openai.ex
  lib/doctrans/processing/pdf_extractor.ex
  lib/doctrans/processing/pdf_processor.ex
  lib/doctrans/resilience/health_check.ex
  lib/doctrans/validation.ex
  lib/doctrans_web/live/document_live/index.ex
  test/doctrans_web/live/document_live/upload_path_test.exs
  test/support/upload_path_extractor_stub.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

perf(dashboard): refresh only affected documents
  PLAN.md
  lib/doctrans/documents.ex
  lib/doctrans_web/live/document_live/index.ex
  test/doctrans/documents_test.exs
  test/doctrans_web/live/document_live_index_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(dashboard): preserve ordering during incremental updates
  PLAN.md
  lib/doctrans/documents.ex
  lib/doctrans_web/live/document_live/index.ex
  test/doctrans_web/live/document_live_index_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

perf(dashboard): refresh only affected documents (P2.18) (#61)
  PLAN.md
  lib/doctrans/documents.ex
  lib/doctrans_web/live/document_live/index.ex
  test/doctrans/documents_test.exs
  test/doctrans_web/live/document_live_index_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): batch startup recovery for P2.19
  PLAN.md
  lib/doctrans/processing/startup_recovery.ex
  lib/doctrans/processing/worker.ex
  test/doctrans/processing/startup_recovery_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): resume orphaned jobs and guard recovery races
  PLAN.md
  config/config.exs
  lib/doctrans/jobs/document_extraction_job.ex
  lib/doctrans/jobs/llm_processing_job.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/startup_recovery.ex
  test/doctrans/jobs/llm_processing_job_test.exs
  test/doctrans/processing/startup_recovery_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): batch startup recovery for P2.19 (#62)
  PLAN.md
  config/config.exs
  lib/doctrans/jobs/document_extraction_job.ex
  lib/doctrans/jobs/llm_processing_job.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/startup_recovery.ex
  lib/doctrans/processing/worker.ex
  test/doctrans/jobs/llm_processing_job_test.exs
  test/doctrans/processing/startup_recovery_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(chat): persist document conversations across reloads
  PLAN.md
  docs/CONTRIBUTING.md
  lib/doctrans/chat/conversations.ex
  lib/doctrans/chat/message.ex
  lib/doctrans/chat/session.ex
  lib/doctrans_web/live/document_live/chat_components.ex
  lib/doctrans_web/live/document_live/chat_session.ex
  lib/doctrans_web/live/document_live/show.ex
  lib/doctrans_web/live/document_live/show.html.heex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  priv/repo/migrations/20260909000000_create_chat_sessions.exs
  test/doctrans/chat/conversations_test.exs
  test/doctrans_web/live/document_live/show_chat_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(chat): preserve turn pairing and refresh restored context
  docs/CONTRIBUTING.md
  lib/doctrans/chat/conversations.ex
  lib/doctrans/chat/message.ex
  lib/doctrans_web/live/document_live/show.ex
  priv/repo/migrations/20260909120000_link_chat_answers_to_questions.exs
  test/doctrans/chat/conversations_test.exs
  test/doctrans_web/live/document_live/show_chat_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(chat): persist document conversations across reloads (#63)
  PLAN.md
  docs/CONTRIBUTING.md
  lib/doctrans/chat/conversations.ex
  lib/doctrans/chat/message.ex
  lib/doctrans/chat/session.ex
  lib/doctrans_web/live/document_live/chat_components.ex
  lib/doctrans_web/live/document_live/chat_session.ex
  lib/doctrans_web/live/document_live/show.ex
  lib/doctrans_web/live/document_live/show.html.heex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  priv/repo/migrations/20260909000000_create_chat_sessions.exs
  priv/repo/migrations/20260909120000_link_chat_answers_to_questions.exs
  test/doctrans/chat/conversations_test.exs
  test/doctrans_web/live/document_live/show_chat_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

ci(coverage): enforce the 80% coverage gate
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  PLAN.md
  docs/CONTRIBUTING.md
  mix.exs
  test/doctrans_web/live/document_live/markdown_helpers_test.exs
Due: hex-audit, mix-compile, deps-audit, mix-test-coverage

ci(coverage): enforce the 80% coverage gate (#64)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  PLAN.md
  docs/CONTRIBUTING.md
  mix.exs
  test/doctrans_web/live/document_live/markdown_helpers_test.exs
Due: hex-audit, mix-compile, deps-audit, mix-test-coverage

test(security): cover P3.21 adversarial paths
  PLAN.md
  test/doctrans/documents/sweeper_test.exs
  test/doctrans/processing/worker_cancellation_test.exs
  test/doctrans_web/live/document_live/upload_validation_test.exs
Due: mix-compile, mix-test-coverage

docs(plan): remove implementation plan
  PLAN.md
Due: none

test(security): cover P3.21 adversarial paths (#65)
  PLAN.md
  test/doctrans/documents/sweeper_test.exs
  test/doctrans/processing/worker_cancellation_test.exs
  test/doctrans_web/live/document_live/upload_validation_test.exs
Due: mix-compile, mix-test-coverage

docs(review): record project findings and remediation plan
  PLAN.md
Due: none

docs(review): record project findings and remediation plan (#66)
  PLAN.md
Due: none

fix(config): configure production vector decoding (F01)
  PLAN.md
  config/config.exs
  config/dev.exs
  config/test.exs
  test/doctrans/production_repo_test.exs
  test/support/production_config_repo.ex
Due: mix-compile, credo, sobelow, mix-test-coverage

fix(config): configure production vector decoding (F01) (#67)
  PLAN.md
  config/config.exs
  config/dev.exs
  config/test.exs
  test/doctrans/production_repo_test.exs
  test/support/production_config_repo.ex
Due: mix-compile, credo, sobelow, mix-test-coverage

fix(processing): resume PDF extraction after partial failure
  PLAN.md
  lib/doctrans/processing/pdf_processor.ex
  test/doctrans/processing/pdf_processor_test.exs
  test/support/resumable_pdf_extractor_stub.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): restore document status on PDF retry
  lib/doctrans/processing/pdf_processor.ex
  test/doctrans/processing/pdf_processor_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): resume partial PDF extraction (F02) (#68)
  PLAN.md
  lib/doctrans/processing/pdf_processor.ex
  test/doctrans/processing/pdf_processor_test.exs
  test/support/resumable_pdf_extractor_stub.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): preserve conversion retry inputs (F03)
  PLAN.md
  lib/doctrans/processing/document_processor.ex
  test/doctrans/processing/document_conversion_retry_test.exs
  test/support/retry_document_converter_stub.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): preserve conversion retry inputs (F03) (#69)
  PLAN.md
  lib/doctrans/processing/document_processor.ex
  test/doctrans/processing/document_conversion_retry_test.exs
  test/support/retry_document_converter_stub.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

Path conditions:
  hex-audit: any of: ^(mix\.exs|mix\.lock)$
  mix-compile: any of: ^(lib/|test/|config/|mix\.exs)
  deps-audit: any of: ^(mix\.exs|mix\.lock)$
  check-module-size: any of: ^lib/.*\.ex$
  credo: any of: ^(lib/|test/).*\.ex$
  sobelow: any of: ^(lib/|config/)
  mix-test-coverage: any of: ^(lib/|test/).*\.ex[s]?$
  mix-deps-unlock: any of: ^mix\.lock$
