Repository sapientpants/doctrans: changes, and which pre-commit hooks are due for each by the changed paths.
All: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

Path conditions:
  hex-audit: any of: ^(mix\.exs|mix\.lock)$
  mix-compile: any of: ^(lib/|test/|config/|mix\.exs)
  deps-audit: any of: ^(mix\.exs|mix\.lock)$
  check-module-size: any of: ^lib/.*\.ex$
  credo: any of: ^(lib/|test/).*\.ex$
  sobelow: any of: ^(lib/|config/)
  mix-test-coverage: any of: ^(lib/|test/).*\.ex[s]?$
  mix-deps-unlock: any of: ^mix\.lock$

fix(a11y): fix focus management found by the browser pass (U05)
  PLAN.md
  assets/js/app.js
  lib/doctrans_web/live/document_live/reprocess_modal.ex
  lib/doctrans_web/live/document_live/upload_components.ex
  test/doctrans_web/live/document_live/keyboard_accessibility_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(a11y): return focus reliably and share one dialog shell (U05)
  PLAN.md
  assets/js/app.js
  lib/doctrans_web/components/core_components.ex
  lib/doctrans_web/components/form_components.ex
  lib/doctrans_web/live/document_live/index.ex
  lib/doctrans_web/live/document_live/reprocess_modal.ex
  lib/doctrans_web/live/document_live/show.ex
  lib/doctrans_web/live/document_live/show.html.heex
  lib/doctrans_web/live/document_live/upload_components.ex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  test/doctrans_web/live/document_live/keyboard_accessibility_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(a11y): make upload and dialogs keyboard accessible (U05) (#119)
  PLAN.md
  assets/js/app.js
  lib/doctrans_web/components/core_components.ex
  lib/doctrans_web/components/form_components.ex
  lib/doctrans_web/components/layouts.ex
  lib/doctrans_web/live/document_live/chat_components.ex
  lib/doctrans_web/live/document_live/components.ex
  lib/doctrans_web/live/document_live/index.ex
  lib/doctrans_web/live/document_live/page_viewer.ex
  lib/doctrans_web/live/document_live/reprocess_modal.ex
  lib/doctrans_web/live/document_live/show.ex
  lib/doctrans_web/live/document_live/show.html.heex
  lib/doctrans_web/live/document_live/upload_components.ex
  lib/doctrans_web/live/document_live/viewer_components.ex
  lib/doctrans_web/live/search_live.ex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  test/doctrans_web/live/document_live/keyboard_accessibility_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(i18n): reject fuzzy translations at the gate
  .pre-commit-config.yaml
  scripts/check_translations.exs
  test/scripts/check_translations_test.exs
Due: mix-compile, mix-test-coverage

fix(ui): keep connectivity notices mounted (U06)
  PLAN.md
  assets/js/app.js
  lib/doctrans_web/components/core_components.ex
  lib/doctrans_web/components/layouts.ex
  test/doctrans_web/components/core_components_test.exs
  test/doctrans_web/components/layouts_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(ui): dismiss flashes via the rendered phx-click (U06)
  PLAN.md
  assets/js/app.js
  lib/doctrans_web/components/core_components.ex
  lib/doctrans_web/components/layouts.ex
  test/doctrans_web/components/core_components_test.exs
  test/doctrans_web/components/layouts_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(ui): keep connectivity notices mounted (U06) (#121)
  PLAN.md
  assets/js/app.js
  lib/doctrans_web/components/core_components.ex
  lib/doctrans_web/components/layouts.ex
  test/doctrans_web/components/core_components_test.exs
  test/doctrans_web/components/layouts_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(privacy): match privacy claims to configured inference (U07)
  PLAN.md
  lib/doctrans/config/inference.ex
  lib/doctrans/processing/openai.ex
  lib/doctrans_web/components/layouts/root.html.heex
  lib/doctrans_web/live/document_live/index.ex
  lib/doctrans_web/live/document_live/upload_components.ex
  lib/doctrans_web/privacy_copy.ex
  mix.exs
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  test/doctrans/config/inference_test.exs
  test/doctrans_web/live/document_live/privacy_notice_test.exs
  test/doctrans_web/privacy_copy_test.exs
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage

fix(privacy): redact credentials the URI parser cannot see (U07 review)
  PLAN.md
  lib/doctrans/config/inference.ex
  lib/doctrans/processing/openai.ex
  lib/doctrans_web/live/document_live/index.ex
  lib/doctrans_web/live/document_live/upload_components.ex
  lib/doctrans_web/privacy_copy.ex
  scripts/check_translations.exs
  test/doctrans/config/inference_test.exs
  test/doctrans/processing/openai_request_test.exs
  test/doctrans_web/live/document_live/privacy_notice_test.exs
  test/scripts/check_translations_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(privacy): match privacy claims to configured inference (U07) (#122)
  PLAN.md
  lib/doctrans/config/inference.ex
  lib/doctrans/processing/openai.ex
  lib/doctrans_web/components/layouts/root.html.heex
  lib/doctrans_web/live/document_live/index.ex
  lib/doctrans_web/live/document_live/upload_components.ex
  lib/doctrans_web/privacy_copy.ex
  mix.exs
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  scripts/check_translations.exs
  test/doctrans/config/inference_test.exs
  test/doctrans/processing/openai_request_test.exs
  test/doctrans_web/live/document_live/privacy_notice_test.exs
  test/doctrans_web/privacy_copy_test.exs
  test/scripts/check_translations_test.exs
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage

fix(ui): display recorded model provenance (U08)
  PLAN.md
  lib/doctrans_web/live/document_live/show.html.heex
  lib/doctrans_web/live/document_live/viewer_components.ex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  test/doctrans_web/live/document_live/model_provenance_test.exs
  test/doctrans_web/live/document_live_reprocessing_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(i18n): translate provenance states as whole messages (U08)
  PLAN.md
  lib/doctrans_web/live/document_live/viewer_components.ex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  test/doctrans_web/live/document_live/model_provenance_test.exs
  test/doctrans_web/live/document_live/privacy_notice_test.exs
  test/doctrans_web/live/document_live_reprocessing_test.exs
  test/support/conn_case.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(ui): display recorded model provenance (U08) (#123)
  PLAN.md
  lib/doctrans_web/live/document_live/show.html.heex
  lib/doctrans_web/live/document_live/viewer_components.ex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  test/doctrans_web/live/document_live/model_provenance_test.exs
  test/doctrans_web/live/document_live/privacy_notice_test.exs
  test/doctrans_web/live/document_live_reprocessing_test.exs
  test/support/conn_case.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(ui): make the viewer responsive and hold chat position (U09)
  PLAN.md
  assets/js/app.js
  lib/doctrans_web/live/document_live/chat_components.ex
  lib/doctrans_web/live/document_live/page_viewer.ex
  lib/doctrans_web/live/document_live/show.ex
  lib/doctrans_web/live/document_live/show.html.heex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  test/doctrans_web/live/document_live/responsive_viewer_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(ui): address review of the responsive viewer and chat scroll (U09)
  .dialyzer_ignore.exs
  PLAN.md
  assets/css/app.css
  assets/js/app.js
  lib/doctrans_web/components/layouts.ex
  lib/doctrans_web/live/document_live/chat_components.ex
  lib/doctrans_web/live/document_live/page_viewer.ex
  lib/doctrans_web/live/document_live/show.ex
  lib/doctrans_web/live/document_live/show.html.heex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  test/doctrans_web/live/document_live/responsive_viewer_test.exs
  test/doctrans_web/live/document_live/show_chat_test.exs
  test/support/fixtures.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(ui): make the viewer responsive and hold chat position (U09) (#124)
  .dialyzer_ignore.exs
  PLAN.md
  assets/css/app.css
  assets/js/app.js
  lib/doctrans_web/components/layouts.ex
  lib/doctrans_web/live/document_live/chat_components.ex
  lib/doctrans_web/live/document_live/page_viewer.ex
  lib/doctrans_web/live/document_live/show.ex
  lib/doctrans_web/live/document_live/show.html.heex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  test/doctrans_web/live/document_live/responsive_viewer_test.exs
  test/doctrans_web/live/document_live/show_chat_test.exs
  test/support/fixtures.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(ui): move theme initialization into a built bundle (U10)
  PLAN.md
  assets/js/theme.js
  config/config.exs
  lib/doctrans_web/components/layouts.ex
  lib/doctrans_web/components/layouts/root.html.heex
  test/doctrans_web/theme_script_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

test(ui): pin the theme bundle's behavior and load order (U10)
  PLAN.md
  assets/js/theme.js
  test/doctrans_web/theme_script_test.exs
Due: mix-compile, mix-test-coverage

fix(ui): render the theme toggle and state its selection (U12)
  PLAN.md
  assets/js/app.js
  lib/doctrans_web/components/layouts.ex
  lib/doctrans_web/live/document_live/index.ex
  lib/doctrans_web/live/document_live/show.html.heex
  lib/doctrans_web/live/search_live.ex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  test/doctrans_web/theme_script_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(ui): reject theme values that name no theme (U10)
  PLAN.md
  assets/js/theme.js
  lib/doctrans_web/components/layouts.ex
  test/doctrans_web/theme_script_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(ui): apply the theme's pressed state before the socket joins (U12)
  PLAN.md
  assets/js/app.js
  assets/js/theme.js
  assets/js/theme_sync.js
  lib/doctrans_web/components/layouts.ex
  lib/doctrans_web/live/document_live/index.ex
  test/doctrans_web/components/layouts_test.exs
  test/doctrans_web/theme_script_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

chore(i18n): refresh gettext references for the theme toggle (U12)
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
Due: none

fix(ui): move theme initialization into a built bundle (U10) (#125)
  PLAN.md
  assets/js/app.js
  assets/js/theme.js
  assets/js/theme_sync.js
  config/config.exs
  lib/doctrans_web/components/layouts.ex
  lib/doctrans_web/components/layouts/root.html.heex
  lib/doctrans_web/live/document_live/index.ex
  lib/doctrans_web/live/document_live/show.html.heex
  lib/doctrans_web/live/search_live.ex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  test/doctrans_web/components/layouts_test.exs
  test/doctrans_web/theme_script_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(dashboard): refresh the dashboard across tabs (U11)
  PLAN.md
  lib/doctrans/documents.ex
  lib/doctrans/documents/topics.ex
  lib/doctrans_web/live/document_live/document_stream.ex
  lib/doctrans_web/live/document_live/index.ex
  lib/doctrans_web/live/document_live/show.ex
  lib/doctrans_web/live/document_live/upload_intake.ex
  test/doctrans/documents/topics_test.exs
  test/doctrans_web/live/document_live_cross_tab_test.exs
  test/doctrans_web/live/document_live_index_test.exs
  test/doctrans_web/live/document_live_show_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(chat): drop a chat turn whose document was deleted (U11)
  lib/doctrans_web/live/document_live/show.ex
  test/doctrans_web/live/document_live/show_chat_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(documents): address review findings on the cross-tab refresh
  lib/doctrans/documents.ex
  lib/doctrans/documents/topics.ex
  lib/doctrans/jobs/document_extraction_job.ex
  lib/doctrans/jobs/llm_processing_job.ex
  lib/doctrans/processing/document_orchestrator.ex
  lib/doctrans/processing/document_processor.ex
  lib/doctrans/processing/document_reprocessing.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/pdf_processor.ex
  lib/doctrans/processing/startup_recovery.ex
  lib/doctrans_web/live/document_live/index.ex
  lib/doctrans_web/live/document_live/show.ex
  test/doctrans/documents/topics_test.exs
  test/doctrans_web/live/document_live/reprocess_modal_test.exs
  test/doctrans_web/live/document_live/show_chat_test.exs
  test/doctrans_web/live/document_live_cross_tab_test.exs
  test/doctrans_web/live/document_live_index_test.exs
  test/doctrans_web/live/document_live_progressive_viewer_test.exs
  test/doctrans_web/live/document_live_show_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(dashboard): refresh the dashboard across tabs (U11) (#126)
  PLAN.md
  lib/doctrans/documents.ex
  lib/doctrans/documents/topics.ex
  lib/doctrans/jobs/document_extraction_job.ex
  lib/doctrans/jobs/llm_processing_job.ex
  lib/doctrans/processing/document_orchestrator.ex
  lib/doctrans/processing/document_processor.ex
  lib/doctrans/processing/document_reprocessing.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/pdf_processor.ex
  lib/doctrans/processing/startup_recovery.ex
  lib/doctrans_web/live/document_live/document_stream.ex
  lib/doctrans_web/live/document_live/index.ex
  lib/doctrans_web/live/document_live/show.ex
  lib/doctrans_web/live/document_live/upload_intake.ex
  test/doctrans/documents/topics_test.exs
  test/doctrans_web/live/document_live/reprocess_modal_test.exs
  test/doctrans_web/live/document_live_cross_tab_test.exs
  test/doctrans_web/live/document_live_index_test.exs
  test/doctrans_web/live/document_live_progressive_viewer_test.exs
  test/doctrans_web/live/document_live_show_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(dashboard): give LiveDashboard the CSP nonce it renders (U13)
  PLAN.md
  config/test.exs
  lib/doctrans_web/content_security_policy.ex
  lib/doctrans_web/plugs/dashboard_csp.ex
  lib/doctrans_web/router.ex
  test/doctrans_web/content_security_policy_test.exs
  test/doctrans_web/dashboard_csp_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(dashboard): correct the CSP nonce docs and scope the widening (U13)
  PLAN.md
  lib/doctrans_web/content_security_policy.ex
  lib/doctrans_web/plugs/dashboard_csp.ex
  lib/doctrans_web/router.ex
  test/doctrans_web/dashboard_csp_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(dashboard): give LiveDashboard the CSP nonce it renders (U13) (#127)
  PLAN.md
  config/test.exs
  lib/doctrans_web/content_security_policy.ex
  lib/doctrans_web/plugs/dashboard_csp.ex
  lib/doctrans_web/router.ex
  test/doctrans_web/content_security_policy_test.exs
  test/doctrans_web/dashboard_csp_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(mailbox): give the mailbox preview the CSP nonce it renders (U14)
  PLAN.md
  lib/doctrans_web/content_security_policy.ex
  lib/doctrans_web/plugs/dashboard_csp.ex
  lib/doctrans_web/plugs/mailbox_csp.ex
  lib/doctrans_web/router.ex
  test/doctrans_web/content_security_policy_test.exs
  test/doctrans_web/dashboard_csp_test.exs
  test/doctrans_web/mailbox_csp_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

test(mailbox): guard both app routes against dev-tool nonce assigns (U14)
  lib/doctrans_web/plugs/mailbox_csp.ex
  test/doctrans_web/dashboard_csp_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

revert(mailbox): remove the mailbox preview instead of nonceing it (U14)
  PLAN.md
  config/config.exs
  config/dev.exs
  config/prod.exs
  config/runtime.exs
  config/test.exs
  lib/doctrans/mailer.ex
  lib/doctrans_web/content_security_policy.ex
  lib/doctrans_web/plugs/mailbox_csp.ex
  lib/doctrans_web/router.ex
  mix.exs
  mix.lock
  test/doctrans_web/content_security_policy_test.exs
  test/doctrans_web/dashboard_csp_test.exs
  test/doctrans_web/mailbox_csp_test.exs
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

chore(config): drop the mailbox from the dev-routes comment
  config/dev.exs
Due: mix-compile, sobelow

revert(mailbox): remove the mailbox preview instead of nonceing it (U14) (#128)
  PLAN.md
  config/config.exs
  config/dev.exs
  config/prod.exs
  config/runtime.exs
  config/test.exs
  lib/doctrans/mailer.ex
  lib/doctrans_web/content_security_policy.ex
  lib/doctrans_web/plugs/dashboard_csp.ex
  lib/doctrans_web/router.ex
  mix.exs
  mix.lock
  test/doctrans_web/content_security_policy_test.exs
  test/doctrans_web/dashboard_csp_test.exs
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

test(coverage): measure the critical workers the gate excluded (Q02)
  .coveragerc
  coveralls.json
  docs/CONTRIBUTING.md
Due: none

test(coverage): drive the workers the gate had never measured (Q02)
  PLAN.md
  test/doctrans/documents/sweeper_worker_test.exs
  test/doctrans/processing/llm_processor_retry_test.exs
  test/doctrans/processing/worker_callbacks_test.exs
  test/doctrans/resilience/health_check_test.exs
  test/doctrans/resilience/health_check_worker_test.exs
Due: mix-compile, mix-test-coverage

fix(resilience): stop the OpenAI probe retrying past its own deadline (Q02)
  PLAN.md
  config/test.exs
  lib/doctrans/resilience/health_check.ex
  test/doctrans/documents/sweeper_worker_test.exs
  test/doctrans/processing/worker_callbacks_test.exs
  test/doctrans/resilience/health_check_test.exs
  test/doctrans/resilience/health_check_worker_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage
