Repository sapientpants/doctrans: changes, and which pre-commit hooks are due for each by the changed paths.
All: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

Path conditions:
  hex-audit: any of: ^(mix\.exs|mix\.lock)$
  mix-compile: any of: ^(lib/|test/|config/|mix\.exs)
  deps-audit: any of: ^(mix\.exs|mix\.lock)$
  check-module-size: any of: ^lib/.*\.ex$
  credo: any of: ^(lib/|test/).*\.ex$
  sobelow: any of: ^(lib/|config/)
  mix-test-coverage: any of: ^(lib/|test/).*\.ex[s]?$
  mix-deps-unlock: any of: ^mix\.lock$

test(coverage): drive the workers the gate had never measured (Q02)
  PLAN.md
  test/doctrans/documents/sweeper_worker_test.exs
  test/doctrans/processing/llm_processor_retry_test.exs
  test/doctrans/processing/worker_callbacks_test.exs
  test/doctrans/resilience/health_check_test.exs
  test/doctrans/resilience/health_check_worker_test.exs
Due: mix-compile, mix-test-coverage

fix(resilience): stop the OpenAI probe retrying past its own deadline (Q02)
  PLAN.md
  config/test.exs
  lib/doctrans/resilience/health_check.ex
  test/doctrans/documents/sweeper_worker_test.exs
  test/doctrans/processing/worker_callbacks_test.exs
  test/doctrans/resilience/health_check_test.exs
  test/doctrans/resilience/health_check_worker_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

build(deps): bump mint from 1.10.0 to 1.10.1 for EEF-CVE-2026-82672
  mix.lock
Due: hex-audit, deps-audit, mix-deps-unlock

test(coverage): include the critical workers in the coverage gate (Q02) (#133)
  .coveragerc
  PLAN.md
  config/test.exs
  coveralls.json
  docs/CONTRIBUTING.md
  lib/doctrans/resilience/health_check.ex
  mix.lock
  test/doctrans/documents/sweeper_worker_test.exs
  test/doctrans/processing/llm_processor_retry_test.exs
  test/doctrans/processing/worker_callbacks_test.exs
  test/doctrans/resilience/health_check_test.exs
  test/doctrans/resilience/health_check_worker_test.exs
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

fix(deps): repair the gate for the mix-minor-and-patch bumps
  .dialyzer_ignore.exs
  lib/doctrans_web/components/core_components.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

chore(docs): drop CLAUDE.md in favour of AGENTS.md
  CLAUDE.md
Due: none

chore(agents): untrack per-developer agent config
  .gitignore
  opencode.jsonc
Due: none

chore(agents): remove the opencode command definitions
  .opencode/commands/deepsource-fix-all-issues.md
  .opencode/commands/deepsource-fix-branch-issues.md
  .opencode/commands/refactor-code.md
Due: none

chore(agents): block git --no-verify in Claude Code too
  .claude/hooks/block-git-no-verify.sh
  .claude/settings.json
Due: none

chore(agents): widen the command policy past --no-verify
  .claude/hooks/block-dangerous-commands.sh
  .claude/hooks/block-git-no-verify.sh
  .claude/settings.json
Due: none

chore(agents): enforce one command policy across all three agents
  .claude/settings.json
  .codex/dangerous-commands.rules
  .opencode/plugins/block-dangerous-commands.js
  .opencode/plugins/block-git-no-verify.js
  AGENTS.md
  scripts/command-policy.sh
  scripts/sync-command-policy.sh
  scripts/test-command-policy.sh
Due: none

chore(agents): one command policy for Claude Code, opencode and Codex (#134)
  .claude/settings.json
  .codex/dangerous-commands.rules
  .gitignore
  .opencode/commands/deepsource-fix-all-issues.md
  .opencode/commands/deepsource-fix-branch-issues.md
  .opencode/commands/refactor-code.md
  .opencode/plugins/block-dangerous-commands.js
  .opencode/plugins/block-git-no-verify.js
  AGENTS.md
  CLAUDE.md
  opencode.jsonc
  scripts/command-policy.sh
  scripts/sync-command-policy.sh
  scripts/test-command-policy.sh
Due: none

feat(agents): extend the command policy to the pi harness
  .opencode/plugins/block-dangerous-commands.js
  .pi/extensions/block-dangerous-commands.ts
  AGENTS.md
  scripts/command-policy.sh
  scripts/test-command-policy.sh
Due: none

feat(agents): extend the command policy to the pi harness (#135)
  .opencode/plugins/block-dangerous-commands.js
  .pi/extensions/block-dangerous-commands.ts
  AGENTS.md
  scripts/command-policy.sh
  scripts/test-command-policy.sh
Due: none

test(processing): replace assertions that cannot fail (Q03)
  test/doctrans/processing/openai_test.exs
  test/doctrans/processing/pdf_extractor_test.exs
  test/doctrans/processing/subprocess_test.exs
Due: mix-compile, mix-test-coverage

test(integration): cover processing-to-retrieval, restart and reprocessing boundaries (Q03)
  test/doctrans/integration/processing_to_retrieval_test.exs
  test/doctrans/integration/reprocessing_boundary_test.exs
  test/doctrans/integration/restart_boundary_test.exs
  test/support/fixtures.ex
  test/support/page_content_stub.ex
  test/support/superseding_crash_stub.ex
Due: mix-compile, credo, mix-test-coverage

test(search): assert retrieval outcomes instead of either-or results (Q03)
  test/doctrans/search_test.exs
  test/doctrans/search_with_count_test.exs
  test/doctrans_web/live/search_live_test.exs
Due: mix-compile, mix-test-coverage

fix(processing): gate startup recovery so tests leave no unowned database work (Q03)
  .dialyzer_ignore.exs
  config/test.exs
  lib/doctrans/processing/worker.ex
  test/doctrans/processing/worker_startup_test.exs
  test/doctrans/processing/worker_test.exs
  test/support/worker_helpers.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

test(chat): await the turn a chat test starts and pin the degraded state (Q03)
  test/doctrans_web/live/document_live/show_chat_test.exs
  test/doctrans_web/live/search_live_async_test.exs
  test/support/data_case.ex
  test/support/embedding_error_stub.ex
  test/support/embedding_stub.ex
Due: mix-compile, credo, mix-test-coverage

docs(plan): record Q03 as implemented and settle the suppression register
  .dialyzer_ignore.exs
  PLAN.md
  test/support/fixtures.ex
Due: mix-compile, credo, mix-test-coverage

test(chat): assert the saved answer, and derive the tie-break order from the ids
  test/doctrans/search_test.exs
  test/doctrans_web/live/document_live/show_chat_test.exs
Due: mix-compile, mix-test-coverage

Q03: assert successful outcomes and control test background work (#136)
  .dialyzer_ignore.exs
  PLAN.md
  config/test.exs
  lib/doctrans/processing/worker.ex
  test/doctrans/integration/processing_to_retrieval_test.exs
  test/doctrans/integration/reprocessing_boundary_test.exs
  test/doctrans/integration/restart_boundary_test.exs
  test/doctrans/processing/openai_test.exs
  test/doctrans/processing/pdf_extractor_test.exs
  test/doctrans/processing/subprocess_test.exs
  test/doctrans/processing/worker_startup_test.exs
  test/doctrans/processing/worker_test.exs
  test/doctrans/search_test.exs
  test/doctrans/search_with_count_test.exs
  test/doctrans_web/live/document_live/show_chat_test.exs
  test/doctrans_web/live/search_live_async_test.exs
  test/doctrans_web/live/search_live_test.exs
  test/support/data_case.ex
  test/support/embedding_error_stub.ex
  test/support/embedding_stub.ex
  test/support/fixtures.ex
  test/support/page_content_stub.ex
  test/support/superseding_crash_stub.ex
  test/support/worker_helpers.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(search): slice grouped chunks out of the source, and assert it with a property (Q04)
  PLAN.md
  lib/doctrans/search/chunker.ex
  lib/doctrans/search/chunker/segments.ex
  mix.exs
  mix.lock
  test/doctrans/search/chunker_test.exs
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

docs(search): state the word-count gap in Segments rather than claiming it is handled
  PLAN.md
  lib/doctrans/search/chunker/segments.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

Q04: fix chunk byte offsets and assert them with a property (#137)
  PLAN.md
  lib/doctrans/search/chunker.ex
  lib/doctrans/search/chunker/segments.ex
  mix.exs
  mix.lock
  test/doctrans/search/chunker_test.exs
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

test(properties): assert chunker and filename invariants (Q05)
  .dialyzer_ignore.exs
  PLAN.md
  lib/doctrans/search/chunker.ex
  lib/doctrans/validation.ex
  test/doctrans/search/chunker_test.exs
  test/doctrans/validation_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

test(properties): assert chunker and filename invariants (Q05) (#138)
  .dialyzer_ignore.exs
  PLAN.md
  lib/doctrans/search/chunker.ex
  lib/doctrans/validation.ex
  test/doctrans/search/chunker_test.exs
  test/doctrans/validation_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(processing): bound the inference client and cover the last boundaries (Q06)
  PLAN.md
  README.md
  config/config.exs
  lib/doctrans/config/embedding.ex
  lib/doctrans/config/openai.ex
  lib/doctrans/processing/openai.ex
  lib/doctrans/processing/request_bounds.ex
  lib/doctrans/resilience/error_classifier.ex
  lib/doctrans_web/error_messages.ex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/da/LC_MESSAGES/errors.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/errors.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/en/LC_MESSAGES/errors.po
  priv/gettext/errors.pot
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/errors.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/errors.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/errors.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/errors.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/errors.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/errors.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/errors.po
  priv/gettext/sv/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/errors.po
  test/doctrans/processing/openai_bounds_test.exs
  test/doctrans_web/live/document_live/markdown_helpers_test.exs
  test/doctrans_web/live/document_live/markdown_sanitization_test.exs
  test/doctrans_web/live/document_live/upload_corrupt_pdf_test.exs
  test/doctrans_web/live/document_live/upload_validation_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

docs(processing): state the request bound exactly (Q06 review)
  PLAN.md
  lib/doctrans/processing/openai.ex
  lib/doctrans/processing/request_bounds.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(processing): bound the inference client and cover the last boundaries (Q06) (#139)
  PLAN.md
  README.md
  config/config.exs
  lib/doctrans/config/embedding.ex
  lib/doctrans/config/openai.ex
  lib/doctrans/processing/openai.ex
  lib/doctrans/processing/request_bounds.ex
  lib/doctrans/resilience/error_classifier.ex
  lib/doctrans_web/error_messages.ex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/da/LC_MESSAGES/errors.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/errors.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/en/LC_MESSAGES/errors.po
  priv/gettext/errors.pot
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/errors.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/errors.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/errors.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/errors.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/errors.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/errors.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/errors.po
  priv/gettext/sv/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/errors.po
  test/doctrans/processing/openai_bounds_test.exs
  test/doctrans_web/live/document_live/markdown_helpers_test.exs
  test/doctrans_web/live/document_live/markdown_sanitization_test.exs
  test/doctrans_web/live/document_live/upload_corrupt_pdf_test.exs
  test/doctrans_web/live/document_live/upload_validation_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

test(quality): gate warnings in test files and re-decide mutation testing (Q07)
  PLAN.md
  docs/CONTRIBUTING.md
  mix.exs
  test/support/openai_stub_test.exs
Due: hex-audit, mix-compile, deps-audit, mix-test-coverage

fix(processing): remove an unreachable list_models parse clause
  PLAN.md
  lib/doctrans/processing/openai.ex
  test/doctrans/processing/openai_request_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

test(quality): gate warnings in test files and re-decide mutation testing (Q07) (#140)
  PLAN.md
  docs/CONTRIBUTING.md
  lib/doctrans/processing/openai.ex
  mix.exs
  test/doctrans/processing/openai_request_test.exs
  test/support/openai_stub_test.exs
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage

ci(assets): build the asset bundles somewhere a broken one fails (Q08)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  PLAN.md
  README.md
  test/doctrans_web/theme_script_test.exs
Due: mix-compile, mix-test-coverage

fix(ci): confine each asset version scan to its own config block
  .github/workflows/ci.yml
Due: none

ci(assets): build the asset bundles somewhere a broken one fails (Q08) (#141)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  PLAN.md
  README.md
  test/doctrans_web/theme_script_test.exs
Due: mix-compile, mix-test-coverage

test(processing): reap by asking the runtime, not the child (Q09)
  PLAN.md
  test/doctrans/processing/document_converter_test.exs
  test/doctrans/processing/pdf_extractor_bounds_test.exs
  test/doctrans/processing/subprocess_test.exs
  test/support/process_probe.ex
Due: mix-compile, credo, mix-test-coverage

test(processing): report the wait it measured, and name the helper for its shape
  test/doctrans/processing/document_converter_test.exs
  test/doctrans/processing/subprocess_test.exs
  test/support/process_probe.ex
Due: mix-compile, credo, mix-test-coverage

test(processing): reap by asking the runtime, not the child (Q09) (#142)
  PLAN.md
  test/doctrans/processing/document_converter_test.exs
  test/doctrans/processing/pdf_extractor_bounds_test.exs
  test/doctrans/processing/subprocess_test.exs
  test/support/process_probe.ex
Due: mix-compile, credo, mix-test-coverage

build(deps): add muex for the scoped mutation pilot (Q10)
  mix.exs
  mix.lock
Due: hex-audit, mix-compile, deps-audit, mix-deps-unlock
