Repository sapientpants/doctrans: changes, and which pre-commit hooks are due for each by the changed paths.
All: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

hex-audit:
  name: Hex security audit
  entry: mix hex.audit
  language: system
  pass_filenames: false

mix-compile:
  name: Mix compile with warnings as errors
  entry: mix compile --warning-as-errors --all-warnings
  language: system
  pass_filenames: false

deps-audit:
  name: Dependency vulnerability audit
  entry: mix deps.audit
  language: system
  pass_filenames: false

check-module-size:
  name: Check module size limits
  entry: elixir scripts/check_module_size.exs --max-lines 500
  language: system
  pass_filenames: false

credo:
  name: Credo strict mode
  entry: mix credo --strict
  language: system
  pass_filenames: false

sobelow:
  name: Sobelow security analysis
  entry: mix sobelow --config
  language: system
  pass_filenames: false

mix-test-coverage:
  name: Mix test with 80% coverage
  entry: bash -c 'MIX_ENV=test mix coveralls'
  language: system
  pass_filenames: false

mix-deps-unlock:
  name: Unlock unused dependencies
  entry: mix deps.unlock --unused
  language: system
  pass_filenames: false

feat(upload): add Microsoft Word and OpenDocument file support (#23)
  .dialyzer_ignore.exs
  Dockerfile.dev
  config/config.exs
  lib/doctrans/jobs/document_extraction_job.ex
  lib/doctrans/processing/document_converter.ex
  lib/doctrans/processing/document_converter_behaviour.ex
  lib/doctrans/processing/document_processor.ex
  lib/doctrans/processing/worker.ex
  lib/doctrans/validation.ex
  lib/doctrans_web/live/book_live/components.ex
  lib/doctrans_web/live/book_live/index.ex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/da/LC_MESSAGES/errors.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/errors.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/en/LC_MESSAGES/errors.po
  priv/gettext/errors.pot
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/errors.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/errors.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/errors.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/errors.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/errors.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/errors.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/errors.po
  priv/gettext/sv/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/errors.po
  test/doctrans/jobs/document_extraction_job_test.exs
  test/doctrans/jobs/health_check_job_test.exs
  test/doctrans/processing/document_converter_test.exs
  test/doctrans/processing/document_processor_test.exs
  test/doctrans_web/live/document_live_index_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(chat): add document chat with RAG-based Q&A
  assets/js/app.js
  lib/doctrans/chat.ex
  lib/doctrans/processing/ollama.ex
  lib/doctrans/processing/ollama_behaviour.ex
  lib/doctrans/search.ex
  lib/doctrans_web/live/book_live/chat_components.ex
  lib/doctrans_web/live/book_live/show.ex
  test/doctrans/chat_test.exs
  test/doctrans/search_test.exs
  test/doctrans_web/live/book_live/show_chat_test.exs
  test/support/ollama_stub.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

chore(config): add mise tool version configuration
  mise.toml
Due: none

fix(chat): address PR review comments for robustness
  lib/doctrans/chat.ex
  lib/doctrans_web/live/book_live/show.ex
  test/support/ollama_stub.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(test): use OllamaStub instead of OllamaMock in test config
  config/test.exs
Due: mix-compile, sobelow

fix(chat): use configurable ollama_module for testability
  lib/doctrans/chat.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(chat): address additional PR review comments
  lib/doctrans_web/live/book_live/show.ex
  test/doctrans/chat_test.exs
  test/doctrans/search_test.exs
  test/doctrans_web/live/book_live/show_chat_test.exs
  test/support/ollama_stub.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(chat): address new PR review comments
  lib/doctrans/chat.ex
  lib/doctrans_web/live/book_live/chat_components.ex
  lib/doctrans_web/live/book_live/markdown_helpers.ex
  lib/doctrans_web/live/book_live/show.ex
  lib/doctrans_web/live/book_live/viewer_components.ex
  test/doctrans/chat_test.exs
  test/doctrans_web/live/book_live/show_chat_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(chat): add document chat with RAG-based Q&A (#24)
  assets/js/app.js
  config/test.exs
  lib/doctrans/chat.ex
  lib/doctrans/processing/ollama.ex
  lib/doctrans/processing/ollama_behaviour.ex
  lib/doctrans/search.ex
  lib/doctrans_web/live/book_live/chat_components.ex
  lib/doctrans_web/live/book_live/markdown_helpers.ex
  lib/doctrans_web/live/book_live/show.ex
  lib/doctrans_web/live/book_live/viewer_components.ex
  mise.toml
  test/doctrans/chat_test.exs
  test/doctrans/search_test.exs
  test/doctrans_web/live/book_live/show_chat_test.exs
  test/support/ollama_stub.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

chore(config): set default models to gemma3:27b
  README.md
  config/config.exs
  lib/doctrans_web/live/book_live/show.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

chore(config): set default models to gemma3:27b (#25)
  README.md
  config/config.exs
  lib/doctrans_web/live/book_live/show.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

chore(config): switch default models to ministral-3:14b
  config/config.exs
Due: mix-compile, sobelow

chore(config): switch default models to ministral-3:14b (#26)
  config/config.exs
Due: mix-compile, sobelow

feat(config): update default models to qwen3.5:latest for extraction and translation
  README.md
  config/config.exs
Due: mix-compile, sobelow

feat(config): update default models to qwen3.5:9b for extraction and translation
  README.md
  config/config.exs
Due: mix-compile, sobelow

feat(config): use qwen3.5:9b for extraction and translation (#27)
  README.md
  config/config.exs
Due: mix-compile, sobelow

feat(translation): switch to translategemma:12b with proper prompt format
  config/config.exs
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/ollama.ex
  lib/doctrans/processing/ollama_behaviour.ex
  test/doctrans/processing/ollama_test.exs
  test/support/ollama_stub.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(translation): address PR review comments
  lib/doctrans/processing/llm_processor.ex
  test/doctrans/processing/ollama_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(translation): switch to translategemma:12b model (#28)
  config/config.exs
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/ollama.ex
  lib/doctrans/processing/ollama_behaviour.ex
  test/doctrans/processing/ollama_test.exs
  test/support/ollama_stub.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

chore(deps): update all dependencies
  mix.lock
Due: hex-audit, deps-audit, mix-deps-unlock

chore(deps): update all dependencies (#29)
  mix.lock
Due: hex-audit, deps-audit, mix-deps-unlock

docs(readme): fix inaccuracies and add missing documentation
  README.md
Due: none

feat(ui): add local AI and privacy messaging across app
  README.md
  lib/doctrans_web/components/layouts/root.html.heex
  lib/doctrans_web/live/book_live/components.ex
  lib/doctrans_web/live/book_live/index.ex
  mix.exs
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/da/LC_MESSAGES/errors.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/errors.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/en/LC_MESSAGES/errors.po
  priv/gettext/errors.pot
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/errors.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/errors.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/errors.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/errors.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/errors.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/errors.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/errors.po
  priv/gettext/sv/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/errors.po
  test/doctrans/processing/ollama_test.exs
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage

feat(ui): add local AI and privacy messaging (#31)
  README.md
  lib/doctrans_web/components/layouts/root.html.heex
  lib/doctrans_web/live/book_live/components.ex
  lib/doctrans_web/live/book_live/index.ex
  mix.exs
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/da/LC_MESSAGES/errors.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/errors.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/en/LC_MESSAGES/errors.po
  priv/gettext/errors.pot
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/errors.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/errors.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/errors.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/errors.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/errors.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/errors.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/errors.po
  priv/gettext/sv/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/errors.po
  test/doctrans/processing/ollama_test.exs
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage

feat(chat): add dedicated chat model, chunking, and query expansion
  README.md
  config/config.exs
  coveralls.json
  lib/doctrans/chat.ex
  lib/doctrans/chat/multi_search.ex
  lib/doctrans/chat/query_expander.ex
  lib/doctrans/documents/chunk.ex
  lib/doctrans/documents/page.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/ollama.ex
  lib/doctrans/search.ex
  lib/doctrans/search/chunker.ex
  lib/doctrans/search/embedding.ex
  lib/doctrans/search/embedding_worker.ex
  lib/doctrans_web/live/book_live/show.ex
  lib/mix/tasks/rechunk_documents.ex
  priv/repo/migrations/20260331040928_create_chunks.exs
  priv/repo/migrations/20260331042336_add_chunks_vector_index.exs
  priv/repo/migrations/20260331073119_update_embedding_dimensions.exs
  test/doctrans/chat/multi_search_test.exs
  test/doctrans/chat/query_expander_test.exs
  test/doctrans/search/chunker_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(chat): address PR review comments across chunker, search, and chat
  lib/doctrans/chat.ex
  lib/doctrans/chat/multi_search.ex
  lib/doctrans/chat/query_expander.ex
  lib/doctrans/search.ex
  lib/doctrans/search/chunker.ex
  lib/doctrans/search/embedding.ex
  lib/doctrans/search/embedding_worker.ex
  priv/repo/migrations/20260331073119_update_embedding_dimensions.exs
  test/doctrans/search/chunker_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

test(chat): improve test coverage for chunker and multi-search
  coveralls.json
  lib/doctrans/search/chunker.ex
  test/doctrans/chat/multi_search_test.exs
  test/doctrans/search/chunker_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(embedding): make chunk creation idempotent and use overlap for rechunking
  lib/doctrans/search/embedding_worker.ex
  lib/mix/tasks/rechunk_documents.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(chat): add dedicated chat model, chunking, and query expansion (#32)
  README.md
  config/config.exs
  coveralls.json
  lib/doctrans/chat.ex
  lib/doctrans/chat/multi_search.ex
  lib/doctrans/chat/query_expander.ex
  lib/doctrans/documents/chunk.ex
  lib/doctrans/documents/page.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/ollama.ex
  lib/doctrans/search.ex
  lib/doctrans/search/chunker.ex
  lib/doctrans/search/embedding.ex
  lib/doctrans/search/embedding_worker.ex
  lib/doctrans_web/live/book_live/show.ex
  lib/mix/tasks/rechunk_documents.ex
  priv/repo/migrations/20260331040928_create_chunks.exs
  priv/repo/migrations/20260331042336_add_chunks_vector_index.exs
  priv/repo/migrations/20260331073119_update_embedding_dimensions.exs
  test/doctrans/chat/multi_search_test.exs
  test/doctrans/chat/query_expander_test.exs
  test/doctrans/search/chunker_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(security): harden uploads, search, cookies, and CSP
  config/config.exs
  lib/doctrans/validation.ex
  lib/doctrans_web/endpoint.ex
  lib/doctrans_web/live/book_live/index.ex
  lib/doctrans_web/live/search_live.ex
  lib/doctrans_web/router.ex
  test/doctrans/validation_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

chore(deps): patch security advisories in core deps
  mix.lock
Due: hex-audit, deps-audit, mix-deps-unlock

fix(security): address PR review feedback
  lib/doctrans/validation.ex
  lib/doctrans_web/live/book_live/index.ex
  lib/doctrans_web/router.ex
  test/doctrans/validation_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(security): tighten validate_file_content guard and data: regex
  lib/doctrans/validation.ex
  test/doctrans/validation_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(security): harden uploads, search, cookies, and CSP (#33)
  config/config.exs
  lib/doctrans/validation.ex
  lib/doctrans_web/endpoint.ex
  lib/doctrans_web/live/book_live/index.ex
  lib/doctrans_web/live/search_live.ex
  lib/doctrans_web/router.ex
  mix.lock
  test/doctrans/validation_test.exs
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

fix(ollama): disable thinking for extraction and translation
  lib/doctrans/processing/ollama.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(ollama): disable thinking for extraction and translation (#34)
  lib/doctrans/processing/ollama.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix: address credo issues from provider refactor
  .credo.exs
  .env.example
  config/config.exs
  config/test.exs
  lib/doctrans/chat.ex
  lib/doctrans/chat/query_expander.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/unsloth.ex
  lib/doctrans/processing/unsloth_behaviour.ex
  lib/doctrans/resilience/health_check.ex
  lib/doctrans/resilience/health_check_worker.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

config: set correct Unsloth defaults
  config/config.exs
Due: mix-compile, sobelow

refactor: move embedding config into provider
  config/config.exs
  lib/doctrans/search/embedding.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix: address all security and quality issues from provider review
  PLAN.md
  config/config.exs
  config/test.exs
  lib/doctrans/application.ex
  lib/doctrans/chat.ex
  lib/doctrans/chat/query_expander.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/llm_utils.ex
  lib/doctrans/processing/ollama.ex
  lib/doctrans/processing/ollama_behaviour.ex
  lib/doctrans/processing/provider_behaviour.ex
  lib/doctrans/processing/provider_resolver.ex
  lib/doctrans/processing/unsloth.ex
  lib/doctrans/resilience/circuit_breaker.ex
  lib/doctrans/resilience/health_check.ex
  lib/doctrans/resilience/health_check_worker.ex
  lib/doctrans/search/embedding.ex
  lib/doctrans/search/embedding_worker.ex
  test/support/unsloth_stub.ex
  test/test_helper.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

Path conditions:
  hex-audit: any of: ^(mix\.exs|mix\.lock)$
  mix-compile: any of: ^(lib/|test/|config/|mix\.exs)
  deps-audit: any of: ^(mix\.exs|mix\.lock)$
  check-module-size: any of: ^lib/.*\.ex$
  credo: any of: ^(lib/|test/).*\.ex$
  sobelow: any of: ^(lib/|config/)
  mix-test-coverage: any of: ^(lib/|test/).*\.ex[s]?$
  mix-deps-unlock: any of: ^mix\.lock$
