Repository sapientpants/doctrans: changes, and which pre-commit hooks are due for each by the changed paths.
All: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

hex-audit:
  name: Hex security audit
  entry: mix hex.audit
  language: system
  pass_filenames: false

mix-compile:
  name: Mix compile with warnings as errors
  entry: mix compile --warning-as-errors --all-warnings
  language: system
  pass_filenames: false

deps-audit:
  name: Dependency vulnerability audit
  entry: mix deps.audit
  language: system
  pass_filenames: false

check-module-size:
  name: Check module size limits
  entry: elixir scripts/check_module_size.exs --max-lines 500
  language: system
  pass_filenames: false

credo:
  name: Credo strict mode
  entry: mix credo --strict
  language: system
  pass_filenames: false

sobelow:
  name: Sobelow security analysis
  entry: mix sobelow --config
  language: system
  pass_filenames: false

mix-test-coverage:
  name: Mix test with 80% coverage
  entry: bash -c 'MIX_ENV=test mix coveralls'
  language: system
  pass_filenames: false

mix-deps-unlock:
  name: Unlock unused dependencies
  entry: mix deps.unlock --unused
  language: system
  pass_filenames: false

fix(search): prevent stale embeddings during page reprocessing
  PLAN.md
  lib/doctrans/documents/page.ex
  lib/doctrans/search/embedding_worker.ex
  priv/repo/migrations/20260909130000_track_page_content_revisions.exs
  test/doctrans/search/embedding_worker_race_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(search): preserve translations during chunk regeneration
  lib/doctrans/search/embedding_worker.ex
  test/doctrans/search/embedding_worker_race_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(search): prevent stale embeddings during reprocessing (F04) (#70)
  PLAN.md
  lib/doctrans/documents/page.ex
  lib/doctrans/search/embedding_worker.ex
  priv/repo/migrations/20260909130000_track_page_content_revisions.exs
  test/doctrans/search/embedding_worker_race_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): prevent premature document completion (F05)
  PLAN.md
  lib/doctrans/documents/pages.ex
  test/doctrans/documents/pages_test.exs
  test/doctrans/processing/pdf_processor_test.exs
  test/support/resumable_pdf_extractor_stub.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): prevent premature document completion (F05) (#71)
  PLAN.md
  lib/doctrans/documents/pages.ex
  test/doctrans/documents/pages_test.exs
  test/doctrans/processing/pdf_processor_test.exs
  test/support/resumable_pdf_extractor_stub.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): preserve model selections for page reprocessing
  PLAN.md
  lib/doctrans/jobs/llm_processing_job.ex
  test/doctrans/jobs/llm_processing_job_test.exs
  test/support/openai_probe.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): preserve model selections for page reprocessing (#72)
  PLAN.md
  lib/doctrans/jobs/llm_processing_job.ex
  test/doctrans/jobs/llm_processing_job_test.exs
  test/support/openai_probe.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(chat): preserve chunk identity in multi-query rank fusion
  PLAN.md
  lib/doctrans/chat/multi_search.ex
  test/doctrans/chat/multi_search_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(chat): preserve chunk identity in multi-query rank fusion (#73)
  PLAN.md
  lib/doctrans/chat/multi_search.ex
  test/doctrans/chat/multi_search_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): enforce LLM circuit breaker rejection (F08)
  PLAN.md
  lib/doctrans/processing/openai.ex
  lib/doctrans/resilience/circuit_breaker.ex
  test/doctrans/processing/openai_request_test.exs
  test/doctrans/resilience/circuit_breaker_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): enforce LLM circuit breaker rejection (F08) (#74)
  PLAN.md
  lib/doctrans/processing/openai.ex
  lib/doctrans/resilience/circuit_breaker.ex
  test/doctrans/processing/openai_request_test.exs
  test/doctrans/resilience/circuit_breaker_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(viewer): populate pages created after selection
  PLAN.md
  lib/doctrans_web/live/document_live/show.ex
  test/doctrans_web/live/document_live_progressive_viewer_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(viewer): populate pages created after selection (#75)
  PLAN.md
  lib/doctrans_web/live/document_live/show.ex
  test/doctrans_web/live/document_live_progressive_viewer_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(chat): honor single refined retrieval queries (F10)
  PLAN.md
  lib/doctrans/chat.ex
  test/doctrans/chat/retrieve_test.exs
  test/support/retrieval_probe.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(chat): honor single refined retrieval queries (F10) (#76)
  PLAN.md
  lib/doctrans/chat.ex
  test/doctrans/chat/retrieve_test.exs
  test/support/retrieval_probe.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

docs(readme): align documentation with current project
  README.md
Due: none

docs(plan): remove project plan
  PLAN.md
Due: none

docs: align README with current project and remove plan (#77)
  PLAN.md
  README.md
Due: none

fix(ui): add Markdown paragraph spacing
  assets/css/app.css
Due: none

fix(ui): add Markdown paragraph spacing (#78)
  assets/css/app.css
Due: none

fix(processing): preserve completion and fence stale chat results
  lib/doctrans/chat/conversations.ex
  lib/doctrans/processing/pdf_processor.ex
  lib/doctrans_web/live/document_live/chat_session.ex
  lib/doctrans_web/live/document_live/show.ex
  test/doctrans/processing/document_reprocessing_test.exs
  test/doctrans_web/live/document_live/show_chat_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): preserve page errors when extraction finishes
  lib/doctrans/processing/pdf_processor.ex
  test/doctrans/processing/document_reprocessing_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): publish status after commit and correct pagination translations
  lib/doctrans/jobs/llm_processing_job.ex
  lib/doctrans/processing/document_orchestrator.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/pdf_processor.ex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  test/doctrans/processing/completion_notification_test.exs
  test/doctrans_web/gettext_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(uploads): preserve source extensions and restrict static serving
  README.md
  docs/FILE_PATH_AUDIT.md
  lib/doctrans/documents/book.ex
  lib/doctrans/jobs/document_extraction_job.ex
  lib/doctrans/processing/run.ex
  lib/doctrans_web/endpoint.ex
  lib/doctrans_web/plugs/upload_images.ex
  priv/repo/migrations/20260910190200_add_source_extension.exs
  test/doctrans/processing/document_reprocessing_test.exs
  test/doctrans_web/endpoint_test.exs
  test/doctrans_web/live/document_live/upload_path_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

docs(processing): remove completed reprocessing plan
  docs/document-reprocessing-plan.md
Due: none

fix(ui): hide completed processing progress in document views
  lib/doctrans_web/live/document_live/components.ex
  lib/doctrans_web/live/document_live/show.html.heex
  test/doctrans_web/live/document_live_reprocessing_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

style(ui): simplify document reprocess button
  lib/doctrans_web/live/document_live/show.html.heex
Due: mix-compile, sobelow

fix(ui): restore page models and filter reprocessing choices
  lib/doctrans_web/live/document_live/reprocess_modal.ex
  lib/doctrans_web/live/document_live/show.html.heex
  test/doctrans_web/live/document_live/reprocess_modal_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(ui): require available models before reprocessing
  lib/doctrans_web/live/document_live/reprocess_modal.ex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  test/doctrans_web/live/document_live/reprocess_modal_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(ui): hide completed progress and improve reprocessing model selection (#80)
  lib/doctrans_web/live/document_live/components.ex
  lib/doctrans_web/live/document_live/reprocess_modal.ex
  lib/doctrans_web/live/document_live/show.html.heex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  test/doctrans_web/live/document_live/reprocess_modal_test.exs
  test/doctrans_web/live/document_live_reprocessing_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

docs(plan): add prioritized project improvement roadmap
  PLAN.md
Due: none

docs(plan): add prioritized project improvement roadmap (#81)
  PLAN.md
Due: none

fix(search): use source passages for chunk retrieval
  PLAN.md
  README.md
  lib/doctrans/chat.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/search.ex
  lib/doctrans/search/embedding_worker.ex
  lib/mix/tasks/rechunk_documents.ex
  test/doctrans/chat/multi_search_test.exs
  test/doctrans/search/embedding_worker_race_test.exs
  test/doctrans/search/retrieval_alignment_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(search): use source passages for chunk retrieval (#82)
  PLAN.md
  README.md
  lib/doctrans/chat.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/search.ex
  lib/doctrans/search/embedding_worker.ex
  lib/mix/tasks/rechunk_documents.ex
  test/doctrans/chat/multi_search_test.exs
  test/doctrans/search/embedding_worker_race_test.exs
  test/doctrans/search/retrieval_alignment_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): reject incomplete document model output
  PLAN.md
  README.md
  lib/doctrans/processing/openai.ex
  lib/doctrans/resilience/error_classifier.ex
  lib/doctrans_web/error_messages.ex
  priv/gettext/da/LC_MESSAGES/errors.po
  priv/gettext/de/LC_MESSAGES/errors.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/errors.po
  priv/gettext/errors.pot
  priv/gettext/es/LC_MESSAGES/errors.po
  priv/gettext/fr/LC_MESSAGES/errors.po
  priv/gettext/it/LC_MESSAGES/errors.po
  priv/gettext/nl/LC_MESSAGES/errors.po
  priv/gettext/no/LC_MESSAGES/errors.po
  priv/gettext/pl/LC_MESSAGES/errors.po
  priv/gettext/pt/LC_MESSAGES/errors.po
  priv/gettext/sv/LC_MESSAGES/errors.po
  test/doctrans/processing/incomplete_output_test.exs
  test/doctrans/processing/openai_request_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): preserve literal thinking tags in document text
  PLAN.md
  README.md
  lib/doctrans/processing/openai.ex
  test/doctrans/processing/incomplete_output_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): reject incomplete document output (C02) (#83)
  PLAN.md
  README.md
  lib/doctrans/processing/openai.ex
  lib/doctrans/resilience/error_classifier.ex
  lib/doctrans_web/error_messages.ex
  priv/gettext/da/LC_MESSAGES/errors.po
  priv/gettext/de/LC_MESSAGES/errors.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/errors.po
  priv/gettext/errors.pot
  priv/gettext/es/LC_MESSAGES/errors.po
  priv/gettext/fr/LC_MESSAGES/errors.po
  priv/gettext/it/LC_MESSAGES/errors.po
  priv/gettext/nl/LC_MESSAGES/errors.po
  priv/gettext/no/LC_MESSAGES/errors.po
  priv/gettext/pl/LC_MESSAGES/errors.po
  priv/gettext/pt/LC_MESSAGES/errors.po
  priv/gettext/sv/LC_MESSAGES/errors.po
  test/doctrans/processing/incomplete_output_test.exs
  test/doctrans/processing/openai_request_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): separate page failures from completion (C03)
  PLAN.md
  lib/doctrans/documents.ex
  lib/doctrans/documents/pages.ex
  lib/doctrans/processing/document_orchestrator.ex
  lib/doctrans/processing/run.ex
  lib/doctrans_web/error_messages.ex
  lib/doctrans_web/live/document_live/components.ex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/da/LC_MESSAGES/errors.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/errors.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/en/LC_MESSAGES/errors.po
  priv/gettext/errors.pot
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/errors.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/errors.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/errors.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/errors.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/errors.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/errors.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/errors.po
  priv/gettext/sv/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/errors.po
  test/doctrans/documents/pages_test.exs
  test/doctrans/processing/document_orchestrator_test.exs
  test/doctrans/processing/document_reprocessing_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

Path conditions:
  hex-audit: any of: ^(mix\.exs|mix\.lock)$
  mix-compile: any of: ^(lib/|test/|config/|mix\.exs)
  deps-audit: any of: ^(mix\.exs|mix\.lock)$
  check-module-size: any of: ^lib/.*\.ex$
  credo: any of: ^(lib/|test/).*\.ex$
  sobelow: any of: ^(lib/|config/)
  mix-test-coverage: any of: ^(lib/|test/).*\.ex[s]?$
  mix-deps-unlock: any of: ^mix\.lock$
