Repository sapientpants/doctrans: changes, and which pre-commit hooks are due for each by the changed paths.
All: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

hex-audit:
  name: Hex security audit
  entry: mix hex.audit
  language: system
  pass_filenames: false

mix-compile:
  name: Mix compile with warnings as errors
  entry: mix compile --warning-as-errors --all-warnings
  language: system
  pass_filenames: false

deps-audit:
  name: Dependency vulnerability audit
  entry: mix deps.audit
  language: system
  pass_filenames: false

check-module-size:
  name: Check module size limits
  entry: elixir scripts/check_module_size.exs --max-lines 500
  language: system
  pass_filenames: false

credo:
  name: Credo strict mode
  entry: mix credo --strict
  language: system
  pass_filenames: false

sobelow:
  name: Sobelow security analysis
  entry: mix sobelow --config
  language: system
  pass_filenames: false

mix-test-coverage:
  name: Mix test with 80% coverage
  entry: bash -c 'MIX_ENV=test mix coveralls'
  language: system
  pass_filenames: false

mix-deps-unlock:
  name: Unlock unused dependencies
  entry: mix deps.unlock --unused
  language: system
  pass_filenames: false

chore: remove PLAN.md
  PLAN.md
Due: none

refactor: consolidate Ollama and Unsloth providers via shared HTTP provider
  .credo.exs
  TODO.md
  lib/doctrans/application.ex
  lib/doctrans/chat.ex
  lib/doctrans/chat/query_expander.ex
  lib/doctrans/processing/http_provider.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/ollama.ex
  lib/doctrans/processing/ollama_behaviour.ex
  lib/doctrans/processing/provider_resolver.ex
  lib/doctrans/processing/unsloth.ex
  lib/doctrans/processing/unsloth_behaviour.ex
  lib/doctrans/provider_config.ex
  mix.lock
  test/doctrans/processing/http_provider_test.exs
  test/doctrans/processing/ollama_test.exs
  test/doctrans/processing/provider_resolver_test.exs
  test/doctrans/processing/unsloth_test.exs
  test/doctrans/resilience/circuit_breaker_test.exs
  test/support/ollama_stub.ex
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

feat(tooling): add opencode plugins for env protection, formatting, and plugin protection
  .opencode/plugin/env-protection.ts
  .opencode/plugin/format-after-edit.ts
  .opencode/plugin/no-verify.ts
  .opencode/plugin/plugin-protection.ts
Due: none

chore(docs): rewrite TODO.md with post-review security and quality tasks
  TODO.md
Due: none

refactor(config): update Ollama models to MTP variants for faster inference
  config/config.exs
Due: mix-compile, sobelow

fix(deps): update dependencies to fix security vulnerabilities
  lib/doctrans_web/live/book_live/markdown_helpers.ex
  mix.exs
  mix.lock
  priv/repo/migrations/20260710071627_update_oban_to_v14.exs
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

refactor: update Ollama models to MTP variants (#36)
  config/config.exs
  lib/doctrans_web/live/book_live/markdown_helpers.ex
  mix.exs
  mix.lock
  priv/repo/migrations/20260710071627_update_oban_to_v14.exs
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

feat(chat): agentic streaming RAG pipeline
  assets/js/app.js
  lib/doctrans/chat.ex
  lib/doctrans/chat/agent.ex
  lib/doctrans/chat/grader.ex
  lib/doctrans/chat/line_parser.ex
  lib/doctrans/chat/query_expander.ex
  lib/doctrans/processing/ollama.ex
  lib/doctrans/processing/ollama_behaviour.ex
  lib/doctrans/search.ex
  lib/doctrans_web/live/book_live/chat_components.ex
  lib/doctrans_web/live/book_live/chat_session.ex
  lib/doctrans_web/live/book_live/markdown_helpers.ex
  lib/doctrans_web/live/book_live/show.ex
  test/doctrans/chat/agent_gather_test.exs
  test/doctrans/chat/agent_test.exs
  test/doctrans/chat/grader_test.exs
  test/doctrans/chat/query_expander_test.exs
  test/doctrans/chat_test.exs
  test/doctrans_web/live/book_live/markdown_helpers_test.exs
  test/support/ollama_stub.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

chore(migration): migrate Claude Code setup to opencode
  .opencode/commands/deepsource-fix-all-issues.md
  .opencode/commands/deepsource-fix-branch-issues.md
  .opencode/commands/refactor-code.md
  .opencode/plugins/block-git-no-verify.js
  opencode.jsonc
Due: none

chore(deps): update vulnerable dependencies (bandit, cowlib, mint, cowboy, html_sanitize_ex, phoenix_live_view, postgrex)
  mix.lock
  opencode.jsonc
Due: hex-audit, deps-audit, mix-deps-unlock

chore(pre-commit): ignore transitive cowlib CVEs (no fixed version available)
  .pre-commit-config.yaml
Due: none

chore(pre-commit): skip hex-audit (cowlib CVEs in transitive dep, no fix available)
  .pre-commit-config.yaml
Due: none

fix(pre-commit): skip dialyzer call warning, fix README
  .claude/hooks/block-git-no-verify.sh
  .claude/settings.json
  .dialyzer_ignore.exs
Due: none

chore(migration): migrate Claude Code setup to opencode (#37)
  .claude/hooks/block-git-no-verify.sh
  .claude/settings.json
  .dialyzer_ignore.exs
  .opencode/commands/deepsource-fix-all-issues.md
  .opencode/commands/deepsource-fix-branch-issues.md
  .opencode/commands/refactor-code.md
  .opencode/plugins/block-git-no-verify.js
  .pre-commit-config.yaml
  assets/js/app.js
  lib/doctrans/chat.ex
  lib/doctrans/chat/agent.ex
  lib/doctrans/chat/grader.ex
  lib/doctrans/chat/line_parser.ex
  lib/doctrans/chat/query_expander.ex
  lib/doctrans/processing/ollama.ex
  lib/doctrans/processing/ollama_behaviour.ex
  lib/doctrans/search.ex
  lib/doctrans_web/live/book_live/chat_components.ex
  lib/doctrans_web/live/book_live/chat_session.ex
  lib/doctrans_web/live/book_live/markdown_helpers.ex
  lib/doctrans_web/live/book_live/show.ex
  mix.lock
  opencode.jsonc
  test/doctrans/chat/agent_gather_test.exs
  test/doctrans/chat/agent_test.exs
  test/doctrans/chat/grader_test.exs
  test/doctrans/chat/query_expander_test.exs
  test/doctrans/chat_test.exs
  test/doctrans_web/live/book_live/markdown_helpers_test.exs
  test/support/ollama_stub.ex
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

chore(deps): update all dependencies to latest versions
  mix.lock
Due: hex-audit, deps-audit, mix-deps-unlock

chore(dialyzer): skip new OTP 29 warnings (opaque types, Sandbox.mode, error_classifier)
  .dialyzer_ignore.exs
  .github/workflows/ci.yml
  Dockerfile.dev
  mise.toml
  mix.exs
Due: hex-audit, mix-compile, deps-audit

chore(elixir): upgrade Erlang OTP 29 and Elixir 1.20 (#38)
  .dialyzer_ignore.exs
  .github/workflows/ci.yml
  Dockerfile.dev
  mise.toml
  mix.exs
  mix.lock
Due: hex-audit, mix-compile, deps-audit, mix-deps-unlock

chore(remove): remove dead processing modules and unused queue
  config/config.exs
  lib/doctrans/jobs/embedding_generation_job.ex
  lib/doctrans/jobs/pdf_extraction_job.ex
  lib/doctrans/processing/page_processor.ex
  lib/doctrans/processing/queue_manager.ex
  test/doctrans/jobs/embedding_generation_job_test.exs
  test/doctrans/jobs/pdf_extraction_job_test.exs
  test/doctrans/processing/page_processor_test.exs
  test/doctrans/processing/queue_manager_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

chore(remove): remove dead processing modules and unused queue (#39)
  config/config.exs
  lib/doctrans/jobs/embedding_generation_job.ex
  lib/doctrans/jobs/pdf_extraction_job.ex
  lib/doctrans/processing/page_processor.ex
  lib/doctrans/processing/queue_manager.ex
  test/doctrans/jobs/embedding_generation_job_test.exs
  test/doctrans/jobs/pdf_extraction_job_test.exs
  test/doctrans/processing/page_processor_test.exs
  test/doctrans/processing/queue_manager_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): resolve blocking defects from OMLX migration review
  config/test.exs
  docs/reviews/feat-migrate-to-omlx.md
  lib/doctrans/application.ex
  lib/doctrans/env_loader.ex
  lib/doctrans/processing/openai.ex
  test/doctrans/processing/openai_request_test.exs
  test/support/data_case.ex
  test/support/openai_stub.ex
  test/support/worker_helpers.ex
  test/test_helper.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(search): stop logging API-key prefix in embedding debug log
  lib/doctrans/search/embedding.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(chat): restore 30s timeout budget for grader and query expander
  lib/doctrans/chat/grader.ex
  lib/doctrans/chat/query_expander.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): retry POSTs on transient failures in OpenAI client
  lib/doctrans/processing/openai.ex
  test/doctrans/processing/openai_request_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(resilience): only melt OpenAI fuse for retryable-class errors
  lib/doctrans/processing/openai.ex
  test/doctrans/processing/openai_request_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): per-call model defaults match Ollama backend
  lib/doctrans/processing/openai.ex
  test/doctrans/processing/openai_request_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(config): read OPENAI_HOST/OPENAI_API_KEY from environment
  config/config.exs
Due: mix-compile, sobelow

fix(env): real environment wins over .env file values
  lib/doctrans/env_loader.ex
  test/doctrans/env_loader_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(processing): stream SSE chat deltas as chunks arrive
  lib/doctrans/processing/openai.ex
  test/doctrans/processing/openai_request_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

refactor(search): route embeddings through the OpenAI client
  lib/doctrans/processing/openai.ex
  lib/doctrans/processing/sse_collector.ex
  lib/doctrans/search/embedding.ex
  test/doctrans/processing/openai_request_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

test(support): list_models stub accepts a model list, not just errors
  test/support/openai_stub.ex
  test/support/openai_stub_test.exs
Due: mix-compile, credo, mix-test-coverage

refactor(processing): collapse parse_chat_response into one clause
  lib/doctrans/processing/openai.ex
  test/doctrans/processing/openai_request_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(search): make embedding worker resilient to mid-run deletion
  lib/doctrans/search/embedding_worker.ex
  test/doctrans/search/embedding_worker_race_test.exs
  test/support/embedding_stub.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

chore(env): stop tracking .env.gpg
  .env.gpg
  .gitignore
Due: none

chore(i18n): translate 7 strings into all 10 supported languages
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/da/LC_MESSAGES/errors.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/errors.po
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/en/LC_MESSAGES/errors.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/errors.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/errors.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/errors.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/errors.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/errors.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/errors.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/errors.po
  priv/gettext/sv/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/errors.po
Due: none

fix(dialyzer): suppress none_matched_return globally for OTP 29 compatibility
  .dialyzer_ignore.exs
Due: none

fix(dialyzer): fix CI test by ignoring worker_helpers unmatched return and switch dialyzer format to dialyxir
  .dialyzer_ignore.exs
  .github/workflows/ci.yml
Due: none

fix(dialyzer): resolve all warnings and fix test coverage gaps
  .coveragerc
  .dialyzer_ignore.exs
  lib/doctrans/documents.ex
  lib/doctrans/jobs/health_check_job.ex
  lib/doctrans/processing/document_orchestrator.ex
  lib/doctrans/processing/document_processor.ex
  lib/doctrans/processing/pdf_processor.ex
  lib/doctrans/processing/worker.ex
  lib/doctrans/resilience/circuit_breaker.ex
  lib/doctrans/resilience/health_check.ex
  lib/doctrans/resilience/health_check_worker.ex
  lib/doctrans/search/embedding_worker.ex
  lib/doctrans/validation.ex
  lib/doctrans_web/live/book_live/index.ex
  lib/doctrans_web/live/book_live/show.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(worker): discard case return value to satisfy dialyzer
  lib/doctrans/processing/worker.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(env_loader): .env file values override shell environment (standard dotenv behavior)
  lib/doctrans/env_loader.ex
  test/doctrans/env_loader_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

Path conditions:
  hex-audit: any of: ^(mix\.exs|mix\.lock)$
  mix-compile: any of: ^(lib/|test/|config/|mix\.exs)
  deps-audit: any of: ^(mix\.exs|mix\.lock)$
  check-module-size: any of: ^lib/.*\.ex$
  credo: any of: ^(lib/|test/).*\.ex$
  sobelow: any of: ^(lib/|config/)
  mix-test-coverage: any of: ^(lib/|test/).*\.ex[s]?$
  mix-deps-unlock: any of: ^mix\.lock$
