Repository sapientpants/doctrans: changes, and which pre-commit hooks are due for each by the changed paths.
All: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

hex-audit:
  name: Hex security audit
  entry: mix hex.audit
  language: system
  pass_filenames: false

mix-compile:
  name: Mix compile with warnings as errors
  entry: mix compile --warning-as-errors --all-warnings
  language: system
  pass_filenames: false

deps-audit:
  name: Dependency vulnerability audit
  entry: mix deps.audit
  language: system
  pass_filenames: false

check-module-size:
  name: Check module size limits
  entry: elixir scripts/check_module_size.exs --max-lines 500
  language: system
  pass_filenames: false

credo:
  name: Credo strict mode
  entry: mix credo --strict
  language: system
  pass_filenames: false

sobelow:
  name: Sobelow security analysis
  entry: mix sobelow --config
  language: system
  pass_filenames: false

mix-test-coverage:
  name: Mix test with 80% coverage
  entry: bash -c 'MIX_ENV=test mix coveralls'
  language: system
  pass_filenames: false

mix-deps-unlock:
  name: Unlock unused dependencies
  entry: mix deps.unlock --unused
  language: system
  pass_filenames: false

test(quality): pilot muex, scoped and coverage-guided (Q10)
  PLAN.md
  mix.exs
  test/doctrans/resilience/circuit_breaker_test.exs
  test/doctrans/resilience/error_classifier_test.exs
Due: hex-audit, mix-compile, deps-audit, mix-test-coverage

test(quality): pilot muex, scoped and coverage-guided (Q10) (#143)
  PLAN.md
  mix.exs
  mix.lock
  test/doctrans/resilience/circuit_breaker_test.exs
  test/doctrans/resilience/error_classifier_test.exs
Due: hex-audit, mix-compile, deps-audit, mix-test-coverage, mix-deps-unlock

fix(gettext): re-extract after the UploadOutcomes split
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
Due: none

feat(processing): detect the source language, and let it be overridden
  .dialyzer_ignore.exs
  PLAN.md
  README.md
  config/config.exs
  lib/doctrans/documents/document.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/openai.ex
  lib/doctrans/processing/openai_behaviour.ex
  lib/doctrans/processing/prompts.ex
  lib/doctrans/processing/source_language.ex
  lib/doctrans/validation.ex
  lib/doctrans_web/live/document_live/components.ex
  lib/doctrans_web/live/document_live/index.ex
  lib/doctrans_web/live/document_live/upload_components.ex
  lib/doctrans_web/live/document_live/upload_intake.ex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  priv/repo/migrations/20260921120000_add_document_source_language.exs
  test/doctrans/documents_test.exs
  test/doctrans/processing/source_language_test.exs
  test/doctrans/validation_test.exs
  test/doctrans_web/error_messages_test.exs
  test/support/openai_crash_stub.ex
  test/support/openai_probe.ex
  test/support/openai_stub.ex
  test/support/page_content_stub.ex
  test/support/superseding_crash_stub.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): do not record a language read off a blank page
  lib/doctrans/processing/source_language.ex
  test/doctrans/processing/source_language_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

chore(gitignore): ignore agent worktrees
  .gitignore
Due: none

chore(gitignore): ignore agent worktrees (#145)
  .gitignore
Due: none

feat(documents): export translated work as Markdown (B02)
  PLAN.md
  lib/doctrans/documents/export.ex
  lib/doctrans_web/controllers/document_export_controller.ex
  lib/doctrans_web/live/document_live/show.html.heex
  lib/doctrans_web/router.ex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  test/doctrans/documents/export_test.exs
  test/doctrans_web/controllers/document_export_controller_test.exs
  test/doctrans_web/live/document_live_show_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

docs(documents): state what the Markdown export carries out unscrubbed
  PLAN.md
  lib/doctrans/documents/export.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(documents): export translated work as Markdown (B02) (#146)
  PLAN.md
  lib/doctrans/documents/export.ex
  lib/doctrans_web/controllers/document_export_controller.ex
  lib/doctrans_web/live/document_live/show.html.heex
  lib/doctrans_web/router.ex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  test/doctrans/documents/export_test.exs
  test/doctrans_web/controllers/document_export_controller_test.exs
  test/doctrans_web/live/document_live_show_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(search): announce an indexing run's outcome (B03)
  PLAN.md
  lib/doctrans/search/indexer.ex
  test/doctrans/search/indexer_broadcast_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

test(documents): cover the wire the stale indexing row slipped through (B03)
  PLAN.md
  test/doctrans_web/live/document_live/status_panel_test.exs
Due: mix-compile, mix-test-coverage

feat(config): report model and embedding readiness before upload (B04)
  PLAN.md
  lib/doctrans/config/readiness.ex
  lib/doctrans_web/error_messages.ex
  lib/doctrans_web/live/document_live/document_stream.ex
  lib/doctrans_web/live/document_live/index.ex
  lib/doctrans_web/live/document_live/upload_components.ex
  lib/doctrans_web/live/document_live/upload_readiness.ex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/da/LC_MESSAGES/errors.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/errors.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/en/LC_MESSAGES/errors.po
  priv/gettext/errors.pot
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/errors.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/errors.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/errors.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/errors.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/errors.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/errors.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/errors.po
  priv/gettext/sv/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/errors.po
  test/doctrans/config/readiness_test.exs
  test/doctrans_web/live/document_live/upload_readiness_test.exs
  test/support/embedding_opts_stub.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(upload): render a bare-atom readiness reason instead of raising
  lib/doctrans/config/readiness.ex
  lib/doctrans_web/live/document_live/upload_readiness.ex
  test/doctrans_web/live/document_live/upload_readiness_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(config): report model and embedding readiness before upload (B04) (#148)
  PLAN.md
  lib/doctrans/config/readiness.ex
  lib/doctrans_web/error_messages.ex
  lib/doctrans_web/live/document_live/document_stream.ex
  lib/doctrans_web/live/document_live/index.ex
  lib/doctrans_web/live/document_live/upload_components.ex
  lib/doctrans_web/live/document_live/upload_readiness.ex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/da/LC_MESSAGES/errors.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/errors.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/en/LC_MESSAGES/errors.po
  priv/gettext/errors.pot
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/errors.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/errors.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/errors.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/errors.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/errors.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/errors.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/errors.po
  priv/gettext/sv/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/errors.po
  test/doctrans/config/readiness_test.exs
  test/doctrans_web/live/document_live/upload_readiness_test.exs
  test/support/embedding_opts_stub.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(backup): verify restores and ship a runtime deployment (B05)
  .env.example
  .github/dependabot.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Dockerfile
  PLAN.md
  README.md
  config/runtime.exs
  docker-compose.runtime.yml
  lib/doctrans/backup.ex
  lib/doctrans/jobs/document_extraction_job.ex
  lib/doctrans/release.ex
  lib/mix/tasks/verify_restore.ex
  mix.exs
  rel/overlays/bin/migrate
  rel/overlays/bin/server
  rel/overlays/bin/verify_restore
  scripts/check_toolchain_pins.exs
  test/doctrans/backup_test.exs
  test/doctrans/deployment_test.exs
  test/doctrans/integration/backup_restore_test.exs
  test/doctrans/jobs/document_extraction_job_test.exs
  test/doctrans/release_test.exs
  test/doctrans/runtime_config_test.exs
  test/support/migrator_stub.ex
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage

fix(deploy): deliver SIGTERM to the release, and close two tripwire holes
  docker-compose.runtime.yml
  scripts/check_toolchain_pins.exs
  test/doctrans/deployment_test.exs
Due: mix-compile, mix-test-coverage

feat(backup): verify restores and ship a runtime deployment (B05) (#149)
  .env.example
  .github/dependabot.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Dockerfile
  PLAN.md
  README.md
  config/runtime.exs
  docker-compose.runtime.yml
  lib/doctrans/backup.ex
  lib/doctrans/jobs/document_extraction_job.ex
  lib/doctrans/release.ex
  lib/mix/tasks/verify_restore.ex
  mix.exs
  rel/overlays/bin/migrate
  rel/overlays/bin/server
  rel/overlays/bin/verify_restore
  scripts/check_toolchain_pins.exs
  test/doctrans/backup_test.exs
  test/doctrans/deployment_test.exs
  test/doctrans/integration/backup_restore_test.exs
  test/doctrans/jobs/document_extraction_job_test.exs
  test/doctrans/release_test.exs
  test/doctrans/runtime_config_test.exs
  test/support/migrator_stub.ex
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage

feat(config): bind development explicitly rather than by database host (B06)
  PLAN.md
  README.md
  config/dev.exs
  docker-compose.yml
  test/doctrans/deployment_test.exs
  test/doctrans/dev_config_test.exs
Due: mix-compile, sobelow, mix-test-coverage

test(deployment): catch unquoted port publications in the loopback tripwire
  PLAN.md
  test/doctrans/deployment_test.exs
  test/doctrans/dev_config_test.exs
Due: mix-compile, mix-test-coverage

feat(config): bind development explicitly rather than by database host (B06) (#151)
  PLAN.md
  README.md
  config/dev.exs
  docker-compose.yml
  test/doctrans/deployment_test.exs
  test/doctrans/dev_config_test.exs
Due: mix-compile, sobelow, mix-test-coverage

chore(docs): remove the planning artifacts and the citations pointing at them
  .pre-commit-config.yaml
  PLAN.md
  docs/FILE_PATH_AUDIT.md
  docs/reviews/feat-migrate-to-omlx.md
  lib/doctrans/jobs/keys.ex
  lib/doctrans/search/chunker.ex
  lib/doctrans/search/chunker/segments.ex
  lib/doctrans/validation.ex
  scripts/check_module_size.exs
  test/doctrans/search/chunker_test.exs
  test/doctrans/search/semantic_relevance_test.exs
  test/doctrans/validation_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

chore(docs): drop the remaining plan-item codes from comments
  .dialyzer_ignore.exs
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  assets/js/theme.js
  config/test.exs
  lib/doctrans/documents.ex
  lib/doctrans/processing/startup_recovery.ex
  lib/doctrans/search/indexer.ex
  mix.exs
  scripts/check_module_size.exs
  test/doctrans/processing/openai_bounds_test.exs
  test/doctrans/processing/pdf_extractor_bounds_test.exs
  test/doctrans/search/chunker_test.exs
  test/doctrans/search/indexer_broadcast_test.exs
  test/doctrans_web/components/layouts_test.exs
  test/doctrans_web/content_security_policy_test.exs
  test/doctrans_web/dashboard_csp_test.exs
  test/doctrans_web/live/document_live_cross_tab_test.exs
  test/doctrans_web/live/document_live_index_test.exs
  test/doctrans_web/live/document_live_show_test.exs
  test/doctrans_web/theme_script_test.exs
  test/support/process_probe.ex
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage

chore(docs): remove the planning artifacts and every reference to them
  .dialyzer_ignore.exs
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  PLAN.md
  assets/js/theme.js
  config/test.exs
  docs/FILE_PATH_AUDIT.md
  docs/reviews/feat-migrate-to-omlx.md
  lib/doctrans/documents.ex
  lib/doctrans/jobs/keys.ex
  lib/doctrans/processing/startup_recovery.ex
  lib/doctrans/search/chunker.ex
  lib/doctrans/search/chunker/segments.ex
  lib/doctrans/search/indexer.ex
  lib/doctrans/validation.ex
  mix.exs
  scripts/check_module_size.exs
  test/doctrans/processing/openai_bounds_test.exs
  test/doctrans/processing/pdf_extractor_bounds_test.exs
  test/doctrans/search/chunker_test.exs
  test/doctrans/search/indexer_broadcast_test.exs
  test/doctrans/search/semantic_relevance_test.exs
  test/doctrans/validation_test.exs
  test/doctrans_web/components/layouts_test.exs
  test/doctrans_web/content_security_policy_test.exs
  test/doctrans_web/dashboard_csp_test.exs
  test/doctrans_web/live/document_live_cross_tab_test.exs
  test/doctrans_web/live/document_live_index_test.exs
  test/doctrans_web/live/document_live_show_test.exs
  test/doctrans_web/theme_script_test.exs
  test/support/process_probe.ex
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage

refactor(viewer): drop the duplicated badge, index readout and model line
  lib/doctrans_web/live/document_live/show.ex
  lib/doctrans_web/live/document_live/show.html.heex
  lib/doctrans_web/live/document_live/status_panel.ex
  lib/doctrans_web/live/document_live/viewer_components.ex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  test/doctrans_web/live/document_live/model_provenance_test.exs
  test/doctrans_web/live/document_live/status_panel_test.exs
  test/doctrans_web/live/document_live_reprocessing_test.exs
  test/doctrans_web/live/document_live_show_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

docs(viewer): retire the README's account of the removed readouts
  README.md
  test/doctrans_web/live/document_live/status_panel_test.exs
Due: mix-compile, mix-test-coverage

refactor(viewer): drop the duplicated badge, index readout and model line (#153)
  README.md
  lib/doctrans_web/live/document_live/show.ex
  lib/doctrans_web/live/document_live/show.html.heex
  lib/doctrans_web/live/document_live/status_panel.ex
  lib/doctrans_web/live/document_live/viewer_components.ex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  test/doctrans_web/live/document_live/model_provenance_test.exs
  test/doctrans_web/live/document_live/status_panel_test.exs
  test/doctrans_web/live/document_live_reprocessing_test.exs
  test/doctrans_web/live/document_live_show_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

test(quality): close the vacuous volume guard and share the case helpers
  test/doctrans/deployment_test.exs
  test/doctrans_web/live/document_live/upload_readiness_test.exs
  test/doctrans_web/live/document_live_cross_tab_test.exs
  test/doctrans_web/live/document_live_index_test.exs
  test/support/conn_case.ex
  test/support/test_env.ex
Due: mix-compile, credo, mix-test-coverage

Path conditions:
  hex-audit: any of: ^(mix\.exs|mix\.lock)$
  mix-compile: any of: ^(lib/|test/|config/|mix\.exs)
  deps-audit: any of: ^(mix\.exs|mix\.lock)$
  check-module-size: any of: ^lib/.*\.ex$
  credo: any of: ^(lib/|test/).*\.ex$
  sobelow: any of: ^(lib/|config/)
  mix-test-coverage: any of: ^(lib/|test/).*\.ex[s]?$
  mix-deps-unlock: any of: ^mix\.lock$
