Repository sapientpants/doctrans: changes, and which pre-commit hooks are due for each by the changed paths.
All: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

hex-audit:
  name: Hex security audit
  entry: mix hex.audit
  language: system
  pass_filenames: false

mix-compile:
  name: Mix compile with warnings as errors
  entry: mix compile --warning-as-errors --all-warnings
  language: system
  pass_filenames: false

deps-audit:
  name: Dependency vulnerability audit
  entry: mix deps.audit
  language: system
  pass_filenames: false

check-module-size:
  name: Check module size limits
  entry: elixir scripts/check_module_size.exs --max-lines 500
  language: system
  pass_filenames: false

credo:
  name: Credo strict mode
  entry: mix credo --strict
  language: system
  pass_filenames: false

sobelow:
  name: Sobelow security analysis
  entry: mix sobelow --config
  language: system
  pass_filenames: false

mix-test-coverage:
  name: Mix test with 80% coverage
  entry: bash -c 'MIX_ENV=test mix coveralls'
  language: system
  pass_filenames: false

mix-deps-unlock:
  name: Unlock unused dependencies
  entry: mix deps.unlock --unused
  language: system
  pass_filenames: false

fix(processing): settle crashed page jobs and name failed pages (C03 review)
  .dialyzer_ignore.exs
  PLAN.md
  lib/doctrans/documents.ex
  lib/doctrans/documents/page.ex
  lib/doctrans/documents/pages.ex
  lib/doctrans/documents/summary.ex
  lib/doctrans/jobs/llm_processing_job.ex
  lib/doctrans/processing/run.ex
  lib/doctrans_web/live/document_live/components.ex
  lib/doctrans_web/live/document_live/show.ex
  lib/doctrans_web/live/document_live/show.html.heex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  test/doctrans/documents/pages_test.exs
  test/doctrans/documents/summary_test.exs
  test/doctrans/jobs/llm_processing_job_test.exs
  test/doctrans_web/live/document_live_index_test.exs
  test/support/openai_crash_stub.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(chat): invalidate stale chat context after page reprocessing (C04)
  PLAN.md
  lib/doctrans/chat.ex
  lib/doctrans/chat/agent.ex
  lib/doctrans/chat/conversations.ex
  lib/doctrans/processing/document_reprocessing.ex
  lib/doctrans/search.ex
  lib/doctrans_web/live/document_live/show.ex
  test/doctrans/chat/conversations_test.exs
  test/doctrans/chat/retrieve_test.exs
  test/doctrans/chat_test.exs
  test/doctrans/processing/document_reprocessing_test.exs
  test/doctrans/search/retrieval_alignment_test.exs
  test/doctrans_web/live/document_live/show_chat_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(chat): invalidate stale chat context after page reprocessing (C04) (#85)
  PLAN.md
  lib/doctrans/chat.ex
  lib/doctrans/chat/agent.ex
  lib/doctrans/chat/conversations.ex
  lib/doctrans/processing/document_reprocessing.ex
  lib/doctrans/search.ex
  lib/doctrans_web/live/document_live/show.ex
  test/doctrans/chat/conversations_test.exs
  test/doctrans/chat/retrieve_test.exs
  test/doctrans/chat_test.exs
  test/doctrans/processing/document_reprocessing_test.exs
  test/doctrans/search/retrieval_alignment_test.exs
  test/doctrans_web/live/document_live/show_chat_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(chat): drop stale context from the socket when an answer lands
  PLAN.md
  lib/doctrans_web/live/document_live/chat_session.ex
  test/doctrans_web/live/document_live/show_chat_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(chat): drop stale context from the socket when an answer lands (#86)
  PLAN.md
  lib/doctrans_web/live/document_live/chat_session.ex
  test/doctrans_web/live/document_live/show_chat_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(chat): invalidate saved chat context on translation-only changes (C05)
  PLAN.md
  lib/doctrans/chat.ex
  lib/doctrans/chat/conversations.ex
  lib/doctrans_web/live/document_live/show.ex
  test/doctrans/chat_test.exs
  test/doctrans_web/live/document_live/show_chat_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(chat): keep the best similarity when preferring a translated page copy
  PLAN.md
  lib/doctrans/chat.ex
  lib/doctrans_web/live/document_live/show.ex
  test/doctrans/chat_test.exs
  test/doctrans_web/live/document_live/show_chat_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(chat): invalidate saved chat context on translation-only changes (C05) (#87)
  PLAN.md
  lib/doctrans/chat.ex
  lib/doctrans/chat/conversations.ex
  lib/doctrans_web/live/document_live/show.ex
  test/doctrans/chat_test.exs
  test/doctrans_web/live/document_live/show_chat_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

chore(ci): make the quality gates real and plan the rest (G01-G08)
  .dialyzer_ignore.exs
  .formatter.exs
  .github/dependabot.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  PLAN.md
  README.md
  coveralls.json
  docs/CONTRIBUTING.md
  lib/doctrans/documents/page.ex
  lib/doctrans/processing/document_orchestrator.ex
  lib/doctrans_web/live/document_live/index.ex
  lib/doctrans_web/live/document_live/markdown_helpers.ex
  mix.exs
  mix.lock
  scripts/check_module_size.exs
  scripts/check_translations.exs
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

chore(ci): make the quality gates real and plan the rest (G01-G08) (#88)
  .dialyzer_ignore.exs
  .formatter.exs
  .github/dependabot.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  PLAN.md
  README.md
  coveralls.json
  docs/CONTRIBUTING.md
  lib/doctrans/documents/page.ex
  lib/doctrans/processing/document_orchestrator.ex
  lib/doctrans_web/live/document_live/index.ex
  lib/doctrans_web/live/document_live/markdown_helpers.ex
  mix.exs
  mix.lock
  scripts/check_module_size.exs
  scripts/check_translations.exs
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

ci(gates): require a stable status check before merge (G09)
  .github/workflows/ci.yml
  PLAN.md
Due: none

ci(gates): require a stable status check before merge (G09) (#96)
  .github/workflows/ci.yml
  PLAN.md
Due: none

build(toolchain): bump to Elixir 1.20.4 / OTP 29.0.6 and pin once (G10)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Dockerfile.dev
  PLAN.md
  README.md
  mise.toml
  scripts/check_toolchain_pins.exs
Due: none

build(toolchain): bump to Elixir 1.20.4 / OTP 29.0.6 and pin once (G10) (#97)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Dockerfile.dev
  PLAN.md
  README.md
  mise.toml
  scripts/check_toolchain_pins.exs
Due: none

refactor(credo): move the nesting limit to Credo's default (G11)
  .credo.exs
  lib/doctrans/chat.ex
  lib/doctrans/chat/conversations.ex
  lib/doctrans/documents/progress.ex
  lib/doctrans/jobs/document_extraction_job.ex
  lib/doctrans/processing/pdf_processor.ex
  lib/doctrans/processing/startup_recovery.ex
  lib/doctrans/search/embedding_worker.ex
  lib/doctrans_web/live/document_live/show.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

refactor(credo): move the cyclomatic-complexity limit to Credo's default (G11)
  .credo.exs
  lib/doctrans/jobs/run_cleanup_job.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

refactor(credo): move the ABC-size limit to Credo's default (G11)
  .credo.exs
  lib/doctrans/chat.ex
  lib/doctrans/chat/agent.ex
  lib/doctrans/chat/conversations.ex
  lib/doctrans/chat/multi_search.ex
  lib/doctrans/documents.ex
  lib/doctrans/processing/document_reprocessing.ex
  lib/doctrans/processing/openai.ex
  lib/doctrans/search/chunker.ex
  lib/doctrans_web/live/document_live/index.ex
  lib/doctrans_web/live/document_live/reprocess_modal.ex
  lib/doctrans_web/live/search_live.ex
  lib/doctrans_web/telemetry.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

refactor(credo): make the module-dependency gate measure coupling (G11)
  .credo.exs
  PLAN.md
  lib/doctrans_web/live/document_live/chat_session.ex
  lib/doctrans_web/live/document_live/show.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

refactor(credo): tighten the subjective checks to honest thresholds (G11) (#98)
  .credo.exs
  PLAN.md
  lib/doctrans/chat.ex
  lib/doctrans/chat/agent.ex
  lib/doctrans/chat/conversations.ex
  lib/doctrans/chat/multi_search.ex
  lib/doctrans/documents.ex
  lib/doctrans/documents/progress.ex
  lib/doctrans/jobs/document_extraction_job.ex
  lib/doctrans/jobs/run_cleanup_job.ex
  lib/doctrans/processing/document_reprocessing.ex
  lib/doctrans/processing/openai.ex
  lib/doctrans/processing/pdf_processor.ex
  lib/doctrans/processing/startup_recovery.ex
  lib/doctrans/search/chunker.ex
  lib/doctrans/search/embedding_worker.ex
  lib/doctrans_web/live/document_live/chat_session.ex
  lib/doctrans_web/live/document_live/index.ex
  lib/doctrans_web/live/document_live/reprocess_modal.ex
  lib/doctrans_web/live/document_live/show.ex
  lib/doctrans_web/live/search_live.ex
  lib/doctrans_web/telemetry.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

ci(sobelow): make findings explicit rather than tolerated (G12)
  .pre-commit-config.yaml
  .sobelow-conf
  PLAN.md
  lib/doctrans/documents.ex
  lib/doctrans/jobs/run_cleanup_job.ex
  lib/doctrans/processing/document_processor.ex
  lib/doctrans/processing/pdf_processor.ex
  lib/doctrans/search.ex
  scripts/check_raw_call_sites.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

ci(sobelow): make findings explicit rather than tolerated (G12) (#99)
  .pre-commit-config.yaml
  .sobelow-conf
  PLAN.md
  lib/doctrans/documents.ex
  lib/doctrans/jobs/run_cleanup_job.ex
  lib/doctrans/processing/document_processor.ex
  lib/doctrans/processing/pdf_processor.ex
  lib/doctrans/search.ex
  scripts/check_raw_call_sites.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

ci(actions): pin actions by SHA and stop persisting credentials (G13)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  PLAN.md
  scripts/check_action_pins.exs
Due: none

ci(actions): pin at the latest majors, not the majors in use (G13)
  .github/workflows/ci.yml
  PLAN.md
  scripts/check_action_pins.exs
Due: none

ci(actions): pin actions by SHA and stop persisting credentials (G13) (#100)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  PLAN.md
  scripts/check_action_pins.exs
Due: none

ci(dialyzer): give suppressions an owner and an expiry (G14)
  .dialyzer_ignore.exs
  .pre-commit-config.yaml
  PLAN.md
  docs/CONTRIBUTING.md
  mix.exs
  scripts/check_dialyzer_filters.exs
Due: hex-audit, mix-compile, deps-audit

ci(dialyzer): give suppressions an owner and an expiry (G14) (#101)
  .dialyzer_ignore.exs
  .pre-commit-config.yaml
  PLAN.md
  docs/CONTRIBUTING.md
  mix.exs
  scripts/check_dialyzer_filters.exs
Due: hex-audit, mix-compile, deps-audit

refactor(dashboard): extract upload intake and document stream from Index
  lib/doctrans_web/live/document_live/document_stream.ex
  lib/doctrans_web/live/document_live/index.ex
  lib/doctrans_web/live/document_live/upload_intake.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

refactor(quality): state the module-size limit once, at 500 (G15)
  .pre-commit-config.yaml
  PLAN.md
  scripts/check_module_size.exs
Due: none

refactor(quality): state the module-size limit once, at 500 (G15)
  .pre-commit-config.yaml
  PLAN.md
  lib/doctrans_web/live/document_live/document_stream.ex
  lib/doctrans_web/live/document_live/index.ex
  lib/doctrans_web/live/document_live/upload_intake.ex
  scripts/check_module_size.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

ci(xref): gate compile-time dependency cycles (G16)
  .pre-commit-config.yaml
  PLAN.md
  lib/doctrans/chat.ex
  lib/doctrans/documents.ex
  lib/doctrans/documents/document.ex
  lib/doctrans/documents/pages.ex
  lib/doctrans/jobs/document_extraction_job.ex
  lib/doctrans/jobs/keys.ex
  lib/doctrans/jobs/llm_processing_job.ex
  lib/doctrans/processing/startup_recovery.ex
  lib/doctrans/processing/worker.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

refactor(jobs): make the job-key register complete (G16 review)
  .pre-commit-config.yaml
  PLAN.md
  lib/doctrans/chat.ex
  lib/doctrans/documents/pages.ex
  lib/doctrans/jobs/keys.ex
  lib/doctrans/jobs/llm_processing_job.ex
  lib/doctrans/jobs/run_cleanup_job.ex
  lib/doctrans/processing/document_reprocessing.ex
  lib/doctrans/processing/run.ex
  lib/doctrans/processing/startup_recovery.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

ci(xref): gate compile-time dependency cycles (G16) (#103)
  .pre-commit-config.yaml
  PLAN.md
  lib/doctrans/chat.ex
  lib/doctrans/documents.ex
  lib/doctrans/documents/document.ex
  lib/doctrans/documents/pages.ex
  lib/doctrans/jobs/document_extraction_job.ex
  lib/doctrans/jobs/keys.ex
  lib/doctrans/jobs/llm_processing_job.ex
  lib/doctrans/jobs/run_cleanup_job.ex
  lib/doctrans/processing/document_reprocessing.ex
  lib/doctrans/processing/run.ex
  lib/doctrans/processing/startup_recovery.ex
  lib/doctrans/processing/worker.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

docs(secrets): record the secret-scanning gate and its one hole (G17)
  PLAN.md
  docs/CONTRIBUTING.md
Due: none

docs(secrets): record the secret-scanning gate and its one hole (G17) (#104)
  PLAN.md
  docs/CONTRIBUTING.md
Due: none

refactor(credo): require specs in the domain layer (G18)
  .credo.exs
  PLAN.md
  lib/doctrans/chat.ex
  lib/doctrans/chat/agent.ex
  lib/doctrans/chat/conversations.ex
  lib/doctrans/chat/grader.ex
  lib/doctrans/chat/line_parser.ex
  lib/doctrans/chat/message.ex
  lib/doctrans/chat/multi_search.ex
  lib/doctrans/chat/query_expander.ex
  lib/doctrans/documents.ex
  lib/doctrans/documents/chunk.ex
  lib/doctrans/documents/document.ex
  lib/doctrans/documents/page.ex
  lib/doctrans/documents/pages.ex
  lib/doctrans/documents/sweeper.ex
  lib/doctrans/documents/sweeper_worker.ex
  lib/doctrans/documents/topics.ex
  lib/doctrans/env_loader.ex
  lib/doctrans/errors.ex
  lib/doctrans/jobs/document_extraction_job.ex
  lib/doctrans/jobs/llm_processing_job.ex
  lib/doctrans/processing/document_converter.ex
  lib/doctrans/processing/document_orchestrator.ex
  lib/doctrans/processing/document_processor.ex
  lib/doctrans/processing/document_reprocessing.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/pdf_extractor.ex
  lib/doctrans/processing/pdf_processor.ex
  lib/doctrans/processing/run.ex
  lib/doctrans/processing/sse_collector.ex
  lib/doctrans/processing/startup_recovery.ex
  lib/doctrans/resilience/health_check.ex
  lib/doctrans/resilience/health_check_worker.ex
  lib/doctrans/search.ex
  lib/doctrans/search/chunker.ex
  lib/doctrans/search/embedding.ex
  lib/doctrans/search/embedding_worker.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

refactor(credo): require specs in the domain layer (G18) (#105)
  .credo.exs
  PLAN.md
  lib/doctrans/chat.ex
  lib/doctrans/chat/agent.ex
  lib/doctrans/chat/conversations.ex
  lib/doctrans/chat/grader.ex
  lib/doctrans/chat/line_parser.ex
  lib/doctrans/chat/message.ex
  lib/doctrans/chat/multi_search.ex
  lib/doctrans/chat/query_expander.ex
  lib/doctrans/documents.ex
  lib/doctrans/documents/chunk.ex
  lib/doctrans/documents/document.ex
  lib/doctrans/documents/page.ex
  lib/doctrans/documents/pages.ex
  lib/doctrans/documents/sweeper.ex
  lib/doctrans/documents/sweeper_worker.ex
  lib/doctrans/documents/topics.ex
  lib/doctrans/env_loader.ex
  lib/doctrans/errors.ex
  lib/doctrans/jobs/document_extraction_job.ex
  lib/doctrans/jobs/llm_processing_job.ex
  lib/doctrans/processing/document_converter.ex
  lib/doctrans/processing/document_orchestrator.ex
  lib/doctrans/processing/document_processor.ex
  lib/doctrans/processing/document_reprocessing.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/pdf_extractor.ex
  lib/doctrans/processing/pdf_processor.ex
  lib/doctrans/processing/run.ex
  lib/doctrans/processing/sse_collector.ex
  lib/doctrans/processing/startup_recovery.ex
  lib/doctrans/resilience/health_check.ex
  lib/doctrans/resilience/health_check_worker.ex
  lib/doctrans/search.ex
  lib/doctrans/search/chunker.ex
  lib/doctrans/search/embedding.ex
  lib/doctrans/search/embedding_worker.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

ci(hygiene): cancel superseded runs and pin the dev image (G19)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  Dockerfile.dev
  PLAN.md
  scripts/check_toolchain_pins.exs
Due: none

ci(hygiene): cancel superseded runs and pin the dev image (G19) (#106)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  Dockerfile.dev
  PLAN.md
  scripts/check_toolchain_pins.exs
Due: none

feat(search): move indexing to durable, bounded jobs (R01)
  PLAN.md
  config/config.exs
  coveralls.json
  lib/doctrans/application.ex
  lib/doctrans/jobs/embedding_job.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/startup_recovery.ex
  lib/doctrans/search/embedding_worker.ex
  lib/doctrans/search/indexer.ex
  lib/doctrans_web/telemetry.ex
  test/doctrans/jobs/embedding_job_test.exs
  test/doctrans/jobs/llm_processing_job_test.exs
  test/doctrans/processing/startup_recovery_test.exs
  test/doctrans/search/embedding_worker_test.exs
  test/doctrans/search/indexer_race_test.exs
  test/doctrans/search/retrieval_alignment_test.exs
  test/support/embedding_error_stub.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

Path conditions:
  hex-audit: any of: ^(mix\.exs|mix\.lock)$
  mix-compile: any of: ^(lib/|test/|config/|mix\.exs)
  deps-audit: any of: ^(mix\.exs|mix\.lock)$
  check-module-size: any of: ^lib/.*\.ex$
  credo: any of: ^(lib/|test/).*\.ex$
  sobelow: any of: ^(lib/|config/)
  mix-test-coverage: any of: ^(lib/|test/).*\.ex[s]?$
  mix-deps-unlock: any of: ^mix\.lock$
