Repository sapientpants/doctrans: changes, and which pre-commit hooks are due for each by the changed paths.
All: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

hex-audit:
  name: Hex security audit
  entry: mix hex.audit
  language: system
  pass_filenames: false

mix-compile:
  name: Mix compile with warnings as errors
  entry: mix compile --warning-as-errors --all-warnings
  language: system
  pass_filenames: false

deps-audit:
  name: Dependency vulnerability audit
  entry: mix deps.audit
  language: system
  pass_filenames: false

check-module-size:
  name: Check module size limits
  entry: elixir scripts/check_module_size.exs --max-lines 500
  language: system
  pass_filenames: false

credo:
  name: Credo strict mode
  entry: mix credo --strict
  language: system
  pass_filenames: false

sobelow:
  name: Sobelow security analysis
  entry: mix sobelow --config
  language: system
  pass_filenames: false

mix-test-coverage:
  name: Mix test with 80% coverage
  entry: bash -c 'MIX_ENV=test mix coveralls'
  language: system
  pass_filenames: false

mix-deps-unlock:
  name: Unlock unused dependencies
  entry: mix deps.unlock --unused
  language: system
  pass_filenames: false

fix(dialyzer): add resilience modules to ignore file
  .dialyzer_ignore.exs
Due: none

feat(resilience): add circuit breakers, backoff, and health checks (#16)
  .dialyzer_ignore.exs
  config/config.exs
  config/test.exs
  coveralls.json
  lib/doctrans/application.ex
  lib/doctrans/documents/sweeper_worker.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/ollama.ex
  lib/doctrans/processing/worker.ex
  lib/doctrans/resilience/backoff.ex
  lib/doctrans/resilience/circuit_breaker.ex
  lib/doctrans/resilience/error_classifier.ex
  lib/doctrans/resilience/health_check.ex
  lib/doctrans/resilience/health_check_worker.ex
  lib/doctrans/search/embedding_worker.ex
  lib/doctrans_web/live/search_live.ex
  lib/doctrans_web/telemetry.ex
  mix.exs
  mix.lock
  test/doctrans/processing/llm_processor_test.exs
  test/doctrans/processing/ollama_test.exs
  test/doctrans/resilience/backoff_test.exs
  test/doctrans/resilience/circuit_breaker_test.exs
  test/doctrans/resilience/error_classifier_test.exs
  test/doctrans/resilience/health_check_test.exs
  test/doctrans/resilience/health_check_worker_test.exs
  test/support/ollama_stub.ex
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

feat(pages): add reprocess page with model selection
  .pre-commit-config.yaml
  config/config.exs
  coveralls.json
  lib/doctrans/documents.ex
  lib/doctrans/documents/pages.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/worker.ex
  lib/doctrans_web/live/book_live/show.ex
  lib/doctrans_web/live/book_live/viewer_components.ex
  test/doctrans/documents/pages_test.exs
  test/doctrans_web/live/document_live_show_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(ui): sort models alphabetically in reprocess modal
  lib/doctrans_web/live/book_live/viewer_components.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(reprocess): address PR review comments
  lib/doctrans/documents/pages.ex
  lib/doctrans_web/live/book_live/show.ex
  lib/doctrans_web/live/book_live/viewer_components.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(llm): skip translation when extraction returns empty content
  lib/doctrans/processing/llm_processor.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

chore(logging): add timestamps and mfa metadata to log format
  config/config.exs
  config/dev.exs
Due: mix-compile, sobelow

chore(logging): add debug logging for LLM processing
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/ollama.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(ollama): treat empty model response as error
  lib/doctrans/processing/ollama.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(ollama): remove custom context/predict options
  lib/doctrans/processing/ollama.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

chore(ollama): add debug logging for prompts and restore options
  lib/doctrans/processing/ollama.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

chore(ollama): use info level for request/response logging
  lib/doctrans/processing/ollama.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

chore(ollama): add debug logging for full prompt
  lib/doctrans/processing/ollama.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

chore(ollama): log image size instead of prompts
  lib/doctrans/processing/ollama.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

test(reprocess): add test for invalid model selection
  test/doctrans_web/live/document_live_show_test.exs
Due: mix-compile, mix-test-coverage

feat(pages): add reprocess page with model selection (#17)
  .pre-commit-config.yaml
  config/config.exs
  config/dev.exs
  coveralls.json
  lib/doctrans/documents.ex
  lib/doctrans/documents/pages.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/ollama.ex
  lib/doctrans/processing/worker.ex
  lib/doctrans_web/live/book_live/show.ex
  lib/doctrans_web/live/book_live/viewer_components.ex
  test/doctrans/documents/pages_test.exs
  test/doctrans_web/live/document_live_show_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(search): add pagination and display RRF scores
  lib/doctrans/search.ex
  lib/doctrans_web/live/search_live.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(search): preserve search page when navigating back from document
  lib/doctrans_web/live/book_live/show.ex
  lib/doctrans_web/live/search_live.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(search): address PR review feedback
  lib/doctrans_web/live/search_live.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(search): add pagination and display RRF scores (#18)
  lib/doctrans/search.ex
  lib/doctrans_web/live/book_live/show.ex
  lib/doctrans_web/live/search_live.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

refactor(search): remove RRF score from search results display
  lib/doctrans_web/live/search_live.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

refactor(search): remove RRF score from search results display (#19)
  lib/doctrans_web/live/search_live.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(pre-commit): resolve configuration issues
  .credo.exs
  .pre-commit-config.yaml
  config/config.exs
  config/test.exs
  lib/doctrans/application.ex
  lib/doctrans/documents.ex
  lib/doctrans/jobs/embedding_generation_job.ex
  lib/doctrans/jobs/health_check_job.ex
  lib/doctrans/jobs/llm_processing_job.ex
  lib/doctrans/jobs/pdf_extraction_job.ex
  lib/doctrans/processing/document_orchestrator.ex
  lib/doctrans/processing/ollama.ex
  lib/doctrans/processing/page_processor.ex
  lib/doctrans/processing/pdf_processor.ex
  lib/doctrans/processing/queue_manager.ex
  lib/doctrans/processing/worker.ex
  lib/doctrans/validation.ex
  lib/doctrans_web/live/book_live/index.ex
  mix.exs
  mix.lock
  priv/repo/migrations/20251211181106_create_oban_tables.exs
  test/doctrans/jobs/embedding_generation_job_test.exs
  test/doctrans/jobs/health_check_job_test.exs
  test/doctrans/jobs/llm_processing_job_test.exs
  test/doctrans/jobs/pdf_extraction_job_test.exs
  test/doctrans/processing/document_orchestrator_test.exs
  test/doctrans/processing/page_processor_test.exs
  test/doctrans/processing/queue_manager_test.exs
  test/doctrans/processing/worker_test.exs
  test/doctrans/search/embedding_worker_test.exs
  test/doctrans/validation_test.exs
  test/doctrans_web/components/form_components_test.exs
  test/doctrans_web/live/search_live_test.exs
  test/support/data_case.ex
  test/support/worker_helpers.ex
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

fix(ci): re-enable quality gates with adjusted thresholds
  .pre-commit-config.yaml
Due: none

fix(quality): resolve code issues and increase test coverage to 81%
  .pre-commit-config.yaml
  config/config.exs
  lib/doctrans/jobs/embedding_generation_job.ex
  lib/doctrans/jobs/health_check_job.ex
  lib/doctrans/jobs/llm_processing_job.ex
  lib/doctrans/jobs/pdf_extraction_job.ex
  lib/doctrans/processing/worker.ex
  lib/doctrans_web/live/book_live/index.ex
  test/doctrans/jobs/embedding_generation_job_test.exs
  test/doctrans/jobs/health_check_job_test.exs
  test/doctrans/jobs/llm_processing_job_test.exs
  test/doctrans/jobs/pdf_extraction_job_test.exs
  test/doctrans/processing/page_processor_test.exs
  test/doctrans/processing/worker_test.exs
  test/doctrans_web/components/form_components_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(pr-review): address all PR review comments from Copilot
  config/config.exs
  lib/doctrans/processing/document_orchestrator.ex
  lib/doctrans/processing/pdf_processor.ex
  lib/doctrans/processing/queue_manager.ex
  lib/doctrans/processing/worker.ex
  lib/doctrans/validation.ex
  lib/doctrans_web/live/book_live/index.ex
  mix.exs
  test/doctrans/processing/page_processor_test.exs
  test/doctrans/processing/queue_manager_test.exs
  test/support/worker_helpers.ex
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage

fix(dialyzer): add ignores for new processing module warnings
  .dialyzer_ignore.exs
Due: none

refactor(core): implement Oban job queuing and refactor Worker module (#20)
  .credo.exs
  .dialyzer_ignore.exs
  config/config.exs
  config/test.exs
  lib/doctrans/application.ex
  lib/doctrans/documents.ex
  lib/doctrans/jobs/embedding_generation_job.ex
  lib/doctrans/jobs/health_check_job.ex
  lib/doctrans/jobs/llm_processing_job.ex
  lib/doctrans/jobs/pdf_extraction_job.ex
  lib/doctrans/processing/document_orchestrator.ex
  lib/doctrans/processing/ollama.ex
  lib/doctrans/processing/page_processor.ex
  lib/doctrans/processing/pdf_processor.ex
  lib/doctrans/processing/queue_manager.ex
  lib/doctrans/processing/worker.ex
  lib/doctrans/validation.ex
  lib/doctrans_web/live/book_live/index.ex
  mix.exs
  mix.lock
  priv/repo/migrations/20251211181106_create_oban_tables.exs
  test/doctrans/jobs/embedding_generation_job_test.exs
  test/doctrans/jobs/health_check_job_test.exs
  test/doctrans/jobs/llm_processing_job_test.exs
  test/doctrans/jobs/pdf_extraction_job_test.exs
  test/doctrans/processing/document_orchestrator_test.exs
  test/doctrans/processing/page_processor_test.exs
  test/doctrans/processing/queue_manager_test.exs
  test/doctrans/processing/worker_test.exs
  test/doctrans/search/embedding_worker_test.exs
  test/doctrans/validation_test.exs
  test/doctrans_web/components/form_components_test.exs
  test/doctrans_web/live/search_live_test.exs
  test/support/data_case.ex
  test/support/worker_helpers.ex
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

fix(i18n): correct ngettext argument order
  lib/doctrans_web/live/book_live/index.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(i18n): correct ngettext argument order (#21)
  lib/doctrans_web/live/book_live/index.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(oban): ensure sequential page processing and proper status transitions
  config/config.exs
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/pdf_processor.ex
  lib/doctrans/processing/worker.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(oban): check document completion after page translation finishes
  lib/doctrans/processing/llm_processor.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(oban): address PR review comments
  config/config.exs
  lib/doctrans/processing/document_orchestrator.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/worker.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(oban): ensure sequential page processing and proper status transitions (#22)
  config/config.exs
  lib/doctrans/processing/document_orchestrator.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/pdf_processor.ex
  lib/doctrans/processing/worker.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(upload): add Microsoft Word and OpenDocument file support
  Dockerfile.dev
  config/config.exs
  lib/doctrans/jobs/document_extraction_job.ex
  lib/doctrans/processing/document_converter.ex
  lib/doctrans/processing/document_converter_behaviour.ex
  lib/doctrans/processing/document_processor.ex
  lib/doctrans/processing/worker.ex
  lib/doctrans/validation.ex
  lib/doctrans_web/live/book_live/components.ex
  lib/doctrans_web/live/book_live/index.ex
  test/doctrans/jobs/health_check_job_test.exs
  test/doctrans/processing/document_converter_test.exs
  test/doctrans/processing/document_processor_test.exs
  test/doctrans_web/live/document_live_index_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(converter): check LibreOffice availability before conversion
  lib/doctrans/processing/document_converter.ex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/da/LC_MESSAGES/errors.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/errors.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/en/LC_MESSAGES/errors.po
  priv/gettext/errors.pot
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/errors.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/errors.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/errors.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/errors.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/errors.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/errors.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/errors.po
  priv/gettext/sv/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/errors.po
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

test(jobs): add tests for DocumentExtractionJob
  test/doctrans/jobs/document_extraction_job_test.exs
Due: mix-compile, mix-test-coverage

fix(docs): address PR review comments
  lib/doctrans/processing/document_processor.ex
  lib/doctrans_web/live/book_live/components.ex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/da/LC_MESSAGES/errors.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/errors.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/en/LC_MESSAGES/errors.po
  priv/gettext/errors.pot
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/errors.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/errors.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/errors.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/errors.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/errors.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/errors.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/errors.po
  priv/gettext/sv/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/errors.po
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(i18n): complete missing English and Polish plural translations
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
Due: none

fix(dialyzer): add ignores for document processor File.rm calls
  .dialyzer_ignore.exs
Due: none

Path conditions:
  hex-audit: any of: ^(mix\.exs|mix\.lock)$
  mix-compile: any of: ^(lib/|test/|config/|mix\.exs)
  deps-audit: any of: ^(mix\.exs|mix\.lock)$
  check-module-size: any of: ^lib/.*\.ex$
  credo: any of: ^(lib/|test/).*\.ex$
  sobelow: any of: ^(lib/|config/)
  mix-test-coverage: any of: ^(lib/|test/).*\.ex[s]?$
  mix-deps-unlock: any of: ^mix\.lock$
