Repository sapientpants/doctrans: changes, and which pre-commit hooks are due for each by the changed paths.
All: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

hex-audit:
  name: Hex security audit
  entry: mix hex.audit
  language: system
  pass_filenames: false

mix-compile:
  name: Mix compile with warnings as errors
  entry: mix compile --warning-as-errors --all-warnings
  language: system
  pass_filenames: false

deps-audit:
  name: Dependency vulnerability audit
  entry: mix deps.audit
  language: system
  pass_filenames: false

check-module-size:
  name: Check module size limits
  entry: elixir scripts/check_module_size.exs --max-lines 500
  language: system
  pass_filenames: false

credo:
  name: Credo strict mode
  entry: mix credo --strict
  language: system
  pass_filenames: false

sobelow:
  name: Sobelow security analysis
  entry: mix sobelow --config
  language: system
  pass_filenames: false

mix-test-coverage:
  name: Mix test with 80% coverage
  entry: bash -c 'MIX_ENV=test mix coveralls'
  language: system
  pass_filenames: false

mix-deps-unlock:
  name: Unlock unused dependencies
  entry: mix deps.unlock --unused
  language: system
  pass_filenames: false

feat(i18n): add German language support with browser auto-detection
  config/config.exs
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/ollama.ex
  lib/doctrans/processing/pdf_extractor.ex
  lib/doctrans/processing/pdf_processor.ex
  lib/doctrans/search/embedding.ex
  lib/doctrans/search/embedding_worker.ex
  lib/doctrans_web/live/book_live/components.ex
  lib/doctrans_web/live/book_live/index.ex
  lib/doctrans_web/live/book_live/show.ex
  lib/doctrans_web/live/book_live/viewer_components.ex
  lib/doctrans_web/live/search_live.ex
  lib/doctrans_web/plugs/set_locale.ex
  lib/doctrans_web/router.ex
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/errors.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/en/LC_MESSAGES/errors.po
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(i18n): add translations for all European languages
  config/config.exs
  lib/doctrans_web/live/book_live/components.ex
  lib/doctrans_web/plugs/set_locale.ex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/da/LC_MESSAGES/errors.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/errors.po
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/errors.pot
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/errors.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/errors.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/errors.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/errors.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/errors.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/errors.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/errors.po
  priv/gettext/sv/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/errors.po
  test/doctrans_web/components/document_components_test.exs
  test/doctrans_web/live/document_live_components_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(i18n): persist lang parameter in session for LiveView reconnections
  .claude/settings.local.json
  lib/doctrans_web/live/hooks/set_locale.ex
  lib/doctrans_web/plugs/set_locale.ex
  lib/doctrans_web/router.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

refactor(i18n): rename "Original Markdown" to "Original Content"
  lib/doctrans_web/live/book_live/show.ex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/no/LC_MESSAGES/default.po
  priv/gettext/pl/LC_MESSAGES/default.po
  priv/gettext/pt/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  test/doctrans_web/live/document_live_show_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(i18n): add pre-commit check for translation completeness
  .pre-commit-config.yaml
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  scripts/check_translations.exs
Due: none

fix(i18n): handle Gettext.put_locale return value for Dialyzer
  lib/doctrans_web/live/hooks/set_locale.ex
  lib/doctrans_web/plugs/set_locale.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(i18n): address PR review comments
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/ollama.ex
  lib/doctrans/search/embedding.ex
  lib/doctrans_web/plugs/set_locale.ex
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/en/LC_MESSAGES/errors.po
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

refactor(ollama): use ministral-3:14b for both OCR and translation
  README.md
  config/config.exs
Due: mix-compile, sobelow

fix(ui): improve markdown rendering and spinner display
  lib/doctrans/processing/ollama.ex
  lib/doctrans_web/live/book_live/viewer_components.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(ollama): improve code fence stripping and add tests
  lib/doctrans/processing/ollama.ex
  test/doctrans/processing/ollama_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

refactor(ollama): consolidate to ministral model and fix UI issues (#12)
  README.md
  config/config.exs
  lib/doctrans/processing/ollama.ex
  lib/doctrans_web/live/book_live/viewer_components.ex
  test/doctrans/processing/ollama_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

chore(git): add playwright-mcp to gitignore
  .gitignore
Due: none

chore(git): remove tracked settings.local.json
  .claude/settings.local.json
Due: none

chore(git): update gitignore for local files (#13)
  .claude/settings.local.json
  .gitignore
Due: none

feat(documents): add automatic document sweeper
  config/config.exs
  lib/doctrans/application.ex
  lib/doctrans/documents/sweeper.ex
  lib/doctrans/documents/sweeper_worker.ex
  test/doctrans/documents/sweeper_test.exs
  test/doctrans/documents/sweeper_worker_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

refactor(sweeper): simplify to directory-based cleanup only
  config/config.exs
  lib/doctrans/documents/sweeper.ex
  lib/doctrans/documents/sweeper_worker.ex
  test/doctrans/documents/sweeper_test.exs
  test/doctrans/documents/sweeper_worker_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

refactor(sweeper): address PR review comments
  lib/doctrans/documents/sweeper.ex
  lib/doctrans/documents/sweeper_worker.ex
  test/doctrans/documents/sweeper_worker_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

test(sweeper): keep 100ms sleep for async tests
  test/doctrans/documents/sweeper_worker_test.exs
Due: mix-compile, mix-test-coverage

fix(sweeper): resolve dialyzer warning and test isolation
  lib/doctrans/documents/sweeper_worker.ex
  test/doctrans/documents/sweeper_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(documents): add automatic document sweeper (#14)
  config/config.exs
  lib/doctrans/application.ex
  lib/doctrans/documents/sweeper.ex
  lib/doctrans/documents/sweeper_worker.ex
  test/doctrans/documents/sweeper_test.exs
  test/doctrans/documents/sweeper_worker_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(search): replace ILIKE with PostgreSQL Full-Text Search and RRF reranking
  lib/doctrans/search.ex
  priv/repo/migrations/20251207122205_add_fulltext_search.exs
  test/doctrans/search_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(search): add HNSW vector index for embedding similarity search
  priv/repo/migrations/20251207122929_add_vector_index.exs
Due: none

refactor(search): address PR review feedback
  lib/doctrans/documents/page.ex
  lib/doctrans/search.ex
  test/doctrans/search_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): improve extraction and fix sweeper UUID bug
  config/config.exs
  lib/doctrans/documents/sweeper.ex
  lib/doctrans/processing/ollama.ex
  lib/doctrans/processing/pdf_extractor.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(processing): enhance prompts for better formatting preservation
  lib/doctrans/processing/ollama.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(documents): include id field in Document changeset to prevent ID mismatch
  lib/doctrans/documents/book.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(test): use isolated upload directory for tests
  .gitignore
  config/test.exs
Due: mix-compile, sobelow

feat(processing): progressive PDF extraction with early thumbnail availability
  lib/doctrans/processing/pdf_extractor.ex
  lib/doctrans/processing/pdf_extractor_behaviour.ex
  lib/doctrans/processing/pdf_processor.ex
  lib/doctrans_web/live/book_live/components.ex
  test/doctrans/processing/pdf_extractor_test.exs
  test/support/pdf_extractor_stub.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(ui): show thumbnail only when first page actually exists
  lib/doctrans_web/live/book_live/components.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(search): address PR review comments for FTS implementation
  lib/doctrans/documents/book.ex
  lib/doctrans/documents/page.ex
  lib/doctrans/search.ex
  priv/repo/migrations/20251207122205_add_fulltext_search.exs
  priv/repo/migrations/20251207122929_add_vector_index.exs
  test/doctrans/search_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(extraction): add num_predict to prevent output truncation
  lib/doctrans/processing/ollama.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(processing): implement page-level queuing for parallel extraction
  config/config.exs
  lib/doctrans/documents.ex
  lib/doctrans/documents/pages.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/ollama.ex
  lib/doctrans/processing/pdf_processor.ex
  lib/doctrans/processing/worker.ex
  test/doctrans/processing/llm_processor_test.exs
  test/doctrans/processing/pdf_processor_test.exs
  test/doctrans/processing/worker_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(processing): handle extraction errors in document completion check
  lib/doctrans/documents/pages.ex
  lib/doctrans/processing/worker.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(processing): add startup recovery for incomplete documents
  lib/doctrans/documents.ex
  lib/doctrans/processing/worker.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

fix(a11y): add descriptive alt text to document thumbnails
  lib/doctrans_web/live/book_live/components.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(search): replace ILIKE with PostgreSQL Full-Text Search and RRF reranking (#15)
  .gitignore
  config/config.exs
  config/test.exs
  lib/doctrans/documents.ex
  lib/doctrans/documents/book.ex
  lib/doctrans/documents/page.ex
  lib/doctrans/documents/pages.ex
  lib/doctrans/documents/sweeper.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/ollama.ex
  lib/doctrans/processing/pdf_extractor.ex
  lib/doctrans/processing/pdf_extractor_behaviour.ex
  lib/doctrans/processing/pdf_processor.ex
  lib/doctrans/processing/worker.ex
  lib/doctrans/search.ex
  lib/doctrans_web/live/book_live/components.ex
  priv/repo/migrations/20251207122205_add_fulltext_search.exs
  priv/repo/migrations/20251207122929_add_vector_index.exs
  test/doctrans/processing/llm_processor_test.exs
  test/doctrans/processing/pdf_extractor_test.exs
  test/doctrans/processing/pdf_processor_test.exs
  test/doctrans/processing/worker_test.exs
  test/doctrans/search_test.exs
  test/support/pdf_extractor_stub.ex
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

feat(resilience): add circuit breakers, backoff, and health checks
  config/config.exs
  config/test.exs
  coveralls.json
  lib/doctrans/application.ex
  lib/doctrans/documents/sweeper_worker.ex
  lib/doctrans/processing/llm_processor.ex
  lib/doctrans/processing/ollama.ex
  lib/doctrans/processing/worker.ex
  lib/doctrans/resilience/backoff.ex
  lib/doctrans/resilience/circuit_breaker.ex
  lib/doctrans/resilience/error_classifier.ex
  lib/doctrans/resilience/health_check.ex
  lib/doctrans/resilience/health_check_worker.ex
  lib/doctrans/search/embedding_worker.ex
  lib/doctrans_web/live/search_live.ex
  lib/doctrans_web/telemetry.ex
  mix.exs
  mix.lock
  test/doctrans/processing/llm_processor_test.exs
  test/doctrans/processing/ollama_test.exs
  test/doctrans/resilience/backoff_test.exs
  test/doctrans/resilience/circuit_breaker_test.exs
  test/doctrans/resilience/error_classifier_test.exs
  test/doctrans/resilience/health_check_test.exs
  test/doctrans/resilience/health_check_worker_test.exs
  test/support/ollama_stub.ex
Due: hex-audit, mix-compile, deps-audit, check-module-size, credo, sobelow, mix-test-coverage, mix-deps-unlock

fix(tests): disable HealthCheckWorker in test environment
  config/test.exs
  coveralls.json
  lib/doctrans/resilience/health_check_worker.ex
  test/doctrans/resilience/health_check_worker_test.exs
Due: mix-compile, check-module-size, credo, sobelow, mix-test-coverage

Path conditions:
  hex-audit: any of: ^(mix\.exs|mix\.lock)$
  mix-compile: any of: ^(lib/|test/|config/|mix\.exs)
  deps-audit: any of: ^(mix\.exs|mix\.lock)$
  check-module-size: any of: ^lib/.*\.ex$
  credo: any of: ^(lib/|test/).*\.ex$
  sobelow: any of: ^(lib/|config/)
  mix-test-coverage: any of: ^(lib/|test/).*\.ex[s]?$
  mix-deps-unlock: any of: ^mix\.lock$
